<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<h:body>

	<ui:composition template="templates/layout.xhtml">

		<ui:define name="navigation" />

		<ui:define name="content">
		
			<h:form id="loginform">
				<h:panelGrid columns="2" rendered="#{!userBean.loggedIn}" align="center" >
					<h:outputLabel for="username">Username:</h:outputLabel>
					<h:inputText id="username" value="#{userBean.userName}" />
					<h:outputLabel for="password">Password:</h:outputLabel>
					<h:inputSecret id="password" value="#{userBean.password}" />
				</h:panelGrid>
				<h:commandButton value="Login" action="#{userBean.login}"
					rendered="#{!userBean.loggedIn}" onclick="return validateLogin();" />
				<h:commandButton value="Logout" acion="#{userBean.logout}"
					rendered="#{userBean.loggedIn}" />
			</h:form>

		</ui:define>

		<ui:define name="calendar" />

	</ui:composition>

</h:body>

</html>