<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core">

<h:body>

	<ui:composition template="../templates/layout.xhtml">

		<ui:define name="navigation">
			<h:panelGrid>
				<h:link>Schedule</h:link>
			</h:panelGrid>
		</ui:define>

		<ui:define name="content">

			<h:dataTable value="#{roleBean.allRoles}" var="role">
				<h:column>
					<f:facet name="header">Role ID</f:facet>
    				#{role.id}
	    		</h:column>
				<h:column>
					<f:facet name="header">Name</f:facet>
    				#{role.name}
	    		</h:column>
				<h:column>
					<f:facet name="header">Code</f:facet>
    				#{role.code}
	    		</h:column>
				<h:column>
					<f:facet name="header">Status</f:facet>
    				#{role.status}
	    		</h:column>
				<h:column>
					<f:facet name="header">Effective Date</f:facet>
    				#{role.effectiveDate}
	    		</h:column>
			</h:dataTable>

			<h:link>Add</h:link> | <h:link>Edit</h:link> | <h:link>Delete</h:link>

		</ui:define>

		<ui:define name="calendar" />

	</ui:composition>

</h:body>

</html>