<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateRoleTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateRoleLabel_id}" for="id" />
                    <h:inputText id="id" value="#{roleController.selected.id}" title="#{bundle.CreateRoleTitle_id}" />
                    <h:outputLabel value="#{bundle.CreateRoleLabel_code}" for="code" />
                    <h:inputText id="code" value="#{roleController.selected.code}" title="#{bundle.CreateRoleTitle_code}" required="true" requiredMessage="#{bundle.CreateRoleRequiredMessage_code}"/>
                    <h:outputLabel value="#{bundle.CreateRoleLabel_name}" for="name" />
                    <h:inputText id="name" value="#{roleController.selected.name}" title="#{bundle.CreateRoleTitle_name}" required="true" requiredMessage="#{bundle.CreateRoleRequiredMessage_name}"/>
                    <h:outputLabel value="#{bundle.CreateRoleLabel_status}" for="status" />
                    <h:inputText id="status" value="#{roleController.selected.status}" title="#{bundle.CreateRoleTitle_status}" />
                    <h:outputLabel value="#{bundle.CreateRoleLabel_quantity}" for="quantity" />
                    <h:inputText id="quantity" value="#{roleController.selected.quantity}" title="#{bundle.CreateRoleTitle_quantity}" />
                    <h:outputLabel value="#{bundle.CreateRoleLabel_effectiveDate}" for="effectiveDate" />
                    <h:inputText id="effectiveDate" value="#{roleController.selected.effectiveDate}" title="#{bundle.CreateRoleTitle_effectiveDate}" >
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.CreateRoleLabel_address}" for="address" />
                    <h:inputText id="address" value="#{roleController.selected.address}" title="#{bundle.CreateRoleTitle_address}" />
                </h:panelGrid>
                <br />
                <h:commandLink action="#{roleController.create}" value="#{bundle.CreateRoleSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{roleController.prepareList}" value="#{bundle.CreateRoleShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateRoleIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
