<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListRoleTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListRoleEmpty}" rendered="#{roleController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{roleController.items.rowCount > 0}">
                    <h:outputText value="#{roleController.pagination.pageFirstItem + 1}..#{roleController.pagination.pageLastItem + 1}/#{roleController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{roleController.previous}" value="#{bundle.Previous} #{roleController.pagination.pageSize}" rendered="#{roleController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{roleController.next}" value="#{bundle.Next} #{roleController.pagination.pageSize}" rendered="#{roleController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{roleController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRoleTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRoleTitle_code}"/>
                            </f:facet>
                            <h:outputText value="#{item.code}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRoleTitle_name}"/>
                            </f:facet>
                            <h:outputText value="#{item.name}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRoleTitle_status}"/>
                            </f:facet>
                            <h:outputText value="#{item.status}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRoleTitle_quantity}"/>
                            </f:facet>
                            <h:outputText value="#{item.quantity}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRoleTitle_effectiveDate}"/>
                            </f:facet>
                            <h:outputText value="#{item.effectiveDate}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRoleTitle_address}"/>
                            </f:facet>
                            <h:outputText value="#{item.address}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{roleController.prepareView}" value="#{bundle.ListRoleViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{roleController.prepareEdit}" value="#{bundle.ListRoleEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{roleController.destroy}" value="#{bundle.ListRoleDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{roleController.prepareCreate}" value="#{bundle.ListRoleCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListRoleIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
