<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewRoleTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewRoleLabel_id}"/>
                    <h:outputText value="#{roleController.selected.id}" title="#{bundle.ViewRoleTitle_id}"/>
                    <h:outputText value="#{bundle.ViewRoleLabel_code}"/>
                    <h:outputText value="#{roleController.selected.code}" title="#{bundle.ViewRoleTitle_code}"/>
                    <h:outputText value="#{bundle.ViewRoleLabel_name}"/>
                    <h:outputText value="#{roleController.selected.name}" title="#{bundle.ViewRoleTitle_name}"/>
                    <h:outputText value="#{bundle.ViewRoleLabel_status}"/>
                    <h:outputText value="#{roleController.selected.status}" title="#{bundle.ViewRoleTitle_status}"/>
                    <h:outputText value="#{bundle.ViewRoleLabel_quantity}"/>
                    <h:outputText value="#{roleController.selected.quantity}" title="#{bundle.ViewRoleTitle_quantity}"/>
                    <h:outputText value="#{bundle.ViewRoleLabel_effectiveDate}"/>
                    <h:outputText value="#{roleController.selected.effectiveDate}" title="#{bundle.ViewRoleTitle_effectiveDate}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewRoleLabel_address}"/>
                    <h:outputText value="#{roleController.selected.address}" title="#{bundle.ViewRoleTitle_address}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{roleController.destroyAndView}" value="#{bundle.ViewRoleDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewRoleEditLink}"/>
                <br />
                <h:commandLink action="#{roleController.prepareCreate}" value="#{bundle.ViewRoleCreateLink}" />
                <br />
                <h:commandLink action="#{roleController.prepareList}" value="#{bundle.ViewRoleShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewRoleIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
