<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
    <h:head>
        <title>Facelet Title</title>
        <h:outputStylesheet name="css/jsfcrud.css"/>
    </h:head>
    <h:body>
        Hello from Facelets
        <br />
        <h:link outcome="/address/List" value="Show All Address Items"/>
        <br />
        <h:link outcome="/contactInfo/List" value="Show All ContactInfo Items"/>
        <br />
        <h:link outcome="/personalInfo/List" value="Show All PersonalInfo Items"/>
    </h:body>



</html>

