<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>Nephron DashBoard</title>
                <link href="wel/template-2012/stylesheets/ec.css" media="all" rel="stylesheet" type="text/css"/>
                <h:outputStylesheet library="css" name="wel/template-2012/stylesheets/ec.css"  />
                <link href="stylesheets/esponder.css" media="all" rel="stylesheet" type="text/css"/>
                <h:outputStylesheet library="css" name="stylesheets/esponder.css"  />
            </f:facet>
            <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript" ></script>

        </h:head>

        <h:body>
            <h:form id="form"> 
                <f:metadata>  
                    <f:viewParam name="userID" value="#{tableBean.useridforedit}" />  

                </f:metadata>
                <p:layout fullPage="true">

                    <p:layoutUnit position="north" size="80" resizable="true" closable="true" collapsible="true">
                        <ui:include src="header.xhtml"></ui:include>

                    </p:layoutUnit>

                    <p:layoutUnit position="south" size="40" resizable="true"  closable="true" collapsible="true">
                        <div class="layout-footer"> Copyright @2012 Nephron
                        </div>
                    </p:layoutUnit>

                    <p:layoutUnit position="center">
                        <p:commandLink id="Home" action="Dashboard.xhtml" style="margin-right:20px;" ajax="false">  
                            <h:outputText value="Home" />  
                        </p:commandLink>  

                        <p:commandLink id="logout" action="#{loginManager.logout}" style="margin-right:20px;" ajax="false">  
                            <h:outputText value="Logout" />  
                        </p:commandLink>  

                        <p:tabView effect="#{tabBean.effect}" effectDuration="normal">  

                            <p:tab title="Summary">  

                                <p:dataTable var="patientdss" value="#{tableBeanSumup.sumups}"  paginator="true" rows="10"  
                                             id="patientsdssTable">  



                                    <f:facet name="header">  
                                        Summary  
                                    </f:facet>  

                                    <p:column headerText="ID" id="dsspid">  
                                        #{patientdss.id}  
                                    </p:column>  

                                    <p:column headerText="Patient"  id="dsspfname">  
                                        #{patientdss.ruleresults}  
                                    </p:column>  

                                    <p:column headerText="Check"  id="dsspfaname">  
                                        #{patientdss.rulename}  
                                    </p:column>  

                                    <p:column headerText="Message"  id="dssplname">  
                                        #{patientdss.ruleresults1}  
                                    </p:column>  






                                </p:dataTable>  

                            </p:tab>  
                            <p:tab title="Patients">  


                                <p:dataTable var="patient" value="#{tableBean.patients}" rowKey="#{patient.id}" paginator="true" rows="10"  
                                             selection="#{tableBean.selectedPatient}" selectionMode="single" filteredValue="#{tableBean.filteredPatient}" id="patientsTable">  



                                    <f:facet name="header">  
                                        List of Patients  
                                    </f:facet>  

                                    <p:column headerText="ID" sortBy="#{patient.id}" filterBy="#{patient.id}" id="pid">  
                                        #{patient.id}  
                                    </p:column>  

                                    <p:column headerText="First Name" sortBy="#{patient.firstName}" filterBy="#{patient.firstName}" id="pfname">  
                                        #{patient.firstName}  
                                    </p:column>  

                                    <p:column headerText="Fathers Name" sortBy="#{patient.fatherName}" filterBy="#{patient.fatherName}" id="pfathername">  
                                        #{patient.fatherName}  
                                    </p:column>  

                                    <p:column headerText="Last Name" sortBy="#{patient.lastName}" filterBy="#{patient.lastName}" id="plname">  
                                        #{patient.lastName}  
                                    </p:column>  



                                    <p:column headerText="Actions" >  
                                        <p:commandButton id="editusers" value="View" 
                                                         action="#{tableBean.edituser()}"

                                                         type="submit"
                                                         >

                                            <f:param name="userID" value="#{patient.id}" />
                                        </p:commandButton>
                                    </p:column>  



                                </p:dataTable>  



                            </p:tab>  
                            <p:tab title="Schedules">  
                                <p:growl id="messages" showDetail="true" />  

                                <p:schedule value="#{scheduleController.eventModel}" style="width:750px" widgetVar="myschedule">  

                                    <p:ajax event="dateSelect" listener="#{scheduleController.onDateSelect}" update="eventDetails" oncomplete="eventDialog.show()" />  
                                    <p:ajax event="eventSelect" listener="#{scheduleController.onEventSelect}" update="eventDetails" oncomplete="eventDialog.show()" />  
                                    <p:ajax event="eventMove" listener="#{scheduleController.onEventMove}" update="messages" />  
                                    <p:ajax event="eventResize" listener="#{scheduleController.onEventResize}" update="messages" />  

                                </p:schedule>  

                                <p:dialog widgetVar="eventDialog" header="Event Details" showEffect="clip" hideEffect="clip">  
                                    <h:panelGrid id="eventDetails" columns="2">  
                                        <h:outputLabel for="title" value="Title:" />  
                                        <p:inputText id="title" value="#{scheduleController.event.title}" />  

                                        <h:outputLabel for="from" value="From:" />  
                                        <p:calendar id="from" value="#{scheduleController.event.startDate}" pattern="dd/MM/yyyy" />


                                        <h:outputLabel for="to" value="To:" />  
                                        <p:calendar id="to" value="#{scheduleController.event.endDate}" pattern="dd/MM/yyyy" />


                                        <h:outputLabel for="allDay" value="All Day:" />  
                                        <h:selectBooleanCheckbox id="allDay" value="#{scheduleController.event.allDay}" />  

                                        <p:commandButton type="reset" value="Reset" />  
                                        <p:commandButton value="Save" actionListener="#{scheduleController.addEvent}" oncomplete="myschedule.update();eventDialog.hide();"/>  
                                    </h:panelGrid>  
                                </p:dialog>   
                            </p:tab>  

                            <p:tab title="Settings">  
                                <p:panelGrid columns="2"   cellpadding="5" >

                                    <h:outputLabel value="Language : " /> 
                                    <p:selectOneMenu value="#{localeBean.language}" style="width:165px" onchange="submit()">
                                        <f:selectItem itemValue="en" itemLabel="English" />
                                        <f:selectItem itemValue="gr" itemLabel="Greek" />
                                        <f:selectItem itemValue="fr" itemLabel="French" />
                                    </p:selectOneMenu>

                                    <h:outputLabel value="Theme : " /> 


                                    <p:themeSwitcher value="#{themeSwitcherBean.theme}" style="width:165px" effect="fade" id="statefulSwitcher">  
                                        <f:selectItem itemLabel="Choose Theme" itemValue="" />  
                                        <f:selectItems value="#{themeSwitcherBean.themes}" />  
                                        <p:ajax listener="#{themeSwitcherBean.saveTheme}" />  
                                    </p:themeSwitcher>  

                                    <h:outputLabel value="Tab Effect : " /> 

                                    <p:selectOneMenu value="#{tabBean.effect}" style="width:165px" onchange="$('#tabform').submit()" >  
                                        <f:selectItem itemLabel="Fade" itemValue="fade" />  
                                        <f:selectItem itemLabel="Slide" itemValue="slide" />  
                                        <f:selectItem itemLabel="Blind" itemValue="blind" />  
                                        <f:selectItem itemLabel="Clip" itemValue="clip" />  
                                        <f:selectItem itemLabel="Drop" itemValue="drop" />  
                                        <f:selectItem itemLabel="Explode" itemValue="explode" />  
                                        <f:selectItem itemLabel="Fold" itemValue="fold" />  
                                        <f:selectItem itemLabel="Puff" itemValue="puff" />  
                                        <f:selectItem itemLabel="Scale" itemValue="scale" />  
                                    </p:selectOneMenu>  
                                </p:panelGrid>  
                            </p:tab>  


                        </p:tabView>    
                    </p:layoutUnit>

                </p:layout>
            </h:form>
        </h:body>

    </f:view>
</html>
