<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>Nephron DashBoard</title>
                <link href="wel/template-2012/stylesheets/ec.css" media="all" rel="stylesheet" type="text/css"/>
                <h:outputStylesheet library="css" name="wel/template-2012/stylesheets/ec.css"  />
                <link href="stylesheets/esponder.css" media="all" rel="stylesheet" type="text/css"/>
                <h:outputStylesheet library="css" name="stylesheets/esponder.css"  />
            </f:facet>
            <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript" ></script>

        </h:head>

        <h:body>
            <h:form id="form"> 
                <f:metadata>  
                    <f:viewParam name="userID" value="#{tableBean.useridforedit}" />  

                </f:metadata>
                <p:layout fullPage="true">

                    <p:layoutUnit position="north" size="80" resizable="true" closable="true" collapsible="true">
                        <ui:include src="header.xhtml"></ui:include>

                    </p:layoutUnit>

                    <p:layoutUnit position="south" size="40" resizable="true"  closable="true" collapsible="true">
                        <div class="layout-footer"> Copyright @2012 Nephron
                        </div>
                    </p:layoutUnit>
                    
                    <p:layoutUnit position="west" size="175" header="Menu" collapsible="true">
                        <ui:include src="menu.xhtml"></ui:include>

                    </p:layoutUnit>
                    
                    <p:layoutUnit position="center">
                        <p:commandLink id="Home" action="DashBoard.xhtml" style="margin-right:20px;" ajax="false">  
                            <h:outputText value="Home" />  
                        </p:commandLink>  

                    

                        <p:commandLink id="logout" action="#{loginManager.logout}" style="margin-right:20px;" ajax="false">  
                            <h:outputText value="Logout" />  
                        </p:commandLink>  

                        <p:tabView effect="#{tabBean.effect}" effectDuration="normal">  

                            <p:tab title="TimeLine">  

                                <pe:timeline id="timeline" value="#{customEventsController.timelines}"
                                             eventStyle="box"
                                             var="event"
                                             height="250px" width="100%">
                                    <p:ajax event="eventSelect" listener="#{customEventsController.onEventSelect}" process="@this"
                                            update="viewDialog" oncomplete="viewDlg.show()"/>
                                    <h:panelGroup layout="block">
                                        <h:outputText value="#{event.startDate}">
                                            <f:convertDateTime pattern="dd MMM yyyy"/>
                                        </h:outputText>
                                        <br/>
                                        <h:outputText value="#{event.title}"/>
                                    </h:panelGroup>
                                </pe:timeline>

                                <p:dialog id="viewDialog" modal="true" dynamic="true" widgetVar="viewDlg"
                                          appendToBody="true" resizable="false" header="Event Details" width="350">
                                    <p:fieldset>
                                        <h:panelGrid columns="2" columnClasses="formColumn1,formColumn2">
                                            <h:outputText value="Date:"/>
                                            <h:outputText value="#{customEventsController.selectedEvent.startDate}">
                                                <f:convertDateTime pattern="dd MMM yyyy"/>
                                            </h:outputText>
                                            <h:outputText value="Title:"/>
                                            <h:outputText value="#{customEventsController.selectedEvent.title}"/>
                                        </h:panelGrid>
                                    </p:fieldset>
                                    <h:panelGroup layout="block" style="width:100%; text-align: center;padding: 5px;">
                                        <p:commandButton id="close" value="Close" type="button" onclick="viewDlg.hide()"/>
                                    </h:panelGroup>
                                </p:dialog>

                            </p:tab>  
                            <p:tab title="Data">  

                                <p:dataTable var="sensordata" value="#{chartBean.sensors}"  paginator="true" rows="10"  
                                             id="sensorsTable">  



                                    <f:facet name="header">  
                                        Measurments  
                                    </f:facet>  



                                    <p:column headerText="Date"  id="dsspfname">  
                                        #{sensordata.time}  
                                    </p:column>  

                                    <p:column headerText="Type"  id="dsspfaname">  
                                        #{sensordata.type}  
                                    </p:column>  

                                    <p:column headerText="Value"  id="dssplname">  
                                        #{sensordata.value}  
                                    </p:column>  






                                </p:dataTable>  



                            </p:tab>  
                            <p:tab title="Graphs">  

                                <p:tabView effect="#{tabBean.effect}" effectDuration="normal">  

                                    <p:tab title="All In One">  
                                        <p:poll interval="10"   
                                                listener="#{chartBean.updatereadings}" update="graphs,graphs2" />  

                                        <h:panelGrid columns="2" id="graphs">  
                                            <p:lineChart value="#{chartBean.linearModel}" legendPosition="e" zoom="true" animate="true"  
                                                         title="Line Chart" minY="0" maxY="170" style="width:500px;" widgetVar="chart"/>  

                                            <p:barChart id="basic" value="#{chartBean.categoryModel}" legendPosition="ne"  
                                                        title="Bar Chart" min="0" max="170" style="width:500px" animate="true"/>  
                                        </h:panelGrid>  

                                    </p:tab>  
                                    <p:tab title="Seperate">  
                                        <h:panelGrid columns="1" id="graphs2">  
                                            <p:lineChart value="#{chartBean.linearModelsodium}" legendPosition="e" zoom="true" animate="true"  
                                                         title="Sodium Chart" minY="100" maxY="170" style="width:800px;" widgetVar="chart2"/>  

                                            <p:lineChart value="#{chartBean.linearModelpotasium}" legendPosition="e" zoom="true" animate="true"  
                                                         title="Potasium Chart" minY="0" maxY="10" style="width:800px;" widgetVar="chart3"/>  

                                            <p:lineChart value="#{chartBean.linearModelurea}" legendPosition="e" zoom="true" animate="true"  
                                                         title="Urea Chart" minY="0" maxY="10" style="width:800px;" widgetVar="chart4"/>  
                                            <p:lineChart value="#{chartBean.linearModelph}" legendPosition="e" zoom="true" animate="true"  
                                                         title="PH Chart" minY="0" maxY="10" style="width:800px;" widgetVar="chart5"/>  
                                        </h:panelGrid>                                          
                                    </p:tab>  
                                </p:tabView>
                            </p:tab>  

                            <p:tab title="History">  
<p:dataTable var="patientdss" value="#{tableBeanSumup.sumups}"  paginator="true" rows="10"  
                                             id="patientsdssTable">  



                                    <f:facet name="header">  
                                        Summary  
                                    </f:facet>  

                                    <p:column headerText="ID" id="dsspid">  
                                        #{patientdss.id}  
                                    </p:column>  

                                    <p:column headerText="Patient"  id="dsspfname">  
                                        #{patientdss.ruleresults}  
                                    </p:column>  

                                    <p:column headerText="Check"  id="dsspfaname">  
                                        #{patientdss.rulename}  
                                    </p:column>  

                                    <p:column headerText="Message"  id="dssplname">  
                                        #{patientdss.ruleresults1}  
                                    </p:column>  






                                </p:dataTable>  

                            </p:tab>  


                        </p:tabView> 
                        <p:commandButton id="shutdown" value="ShutdownWAKD" 
                                                     outcome="DashBoard_Patient"
                                                     action="#{wakdManager.shutdown}" 
                                                     type="submit"
                                                     />
                    </p:layoutUnit>

                </p:layout>
            </h:form>
        </h:body>

    </f:view>
</html>
