<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:p="http://primefaces.org/ui">
    
         <p:panelGrid columns="1" styleClass="companyHeaderGrid" style="width:95%" > 
        
        <p:graphicImage value="images/nephron.png" />
       
        </p:panelGrid>
 
</ui:composition>
