<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:p="http://primefaces.org/ui">

    <p:menu >  
        <p:submenu label="Patient Name : #{loginManager.username}">
            
        </p:submenu>
        <p:submenu label="Measurments">
            <p:menuitem value="Measurments" url="DashBoard_Patient.xhtml" />
        </p:submenu>
        <p:submenu label="Actions">
            <p:menuitem value="WAKD Status" url="DashBoard_Patient.xhtml" />
             <p:menuitem value="Arrange Appointment" url="DashBoard_Patient.xhtml" />
             <p:menuitem value="Medication Schedule" url="DashBoard_Patient.xhtml" />
        </p:submenu>
</p:menu>

</ui:composition>