<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:p="http://primefaces.org/ui">

    <p:menu >  
        
            
        
        <p:submenu label="Security - PKI">
            <p:menuitem value="Add User" url="Add_New_User.xhtml" />
            <p:menuitem value="Delete User" url="Revoke_User.xhtml" />
            <p:menuitem value="Role Management" url="User_Role_Management.xhtml" />
        </p:submenu>
        
        <p:submenu label="Patients">
            <p:menuitem value="Manage Patients" url="Patients_Managements.xhtml" />
             <p:menuitem value="Manage Doctors" url="Doctors_Managements.xhtml" />
             <p:menuitem value="Manage WAKD" url="Wakd_Managements.xhtml" />
             <p:menuitem value="Manage Smartphones" url="Smartphone_Managements.xhtml" />
             <p:menuitem value="Manage Associations" url="Associations_Managements.xhtml" />
        </p:submenu>
        
</p:menu>

</ui:composition>