<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>Nephron User Profile</title>
                <link href="wel/template-2012/stylesheets/ec.css" media="all" rel="stylesheet" type="text/css"/>
                <h:outputStylesheet library="css" name="wel/template-2012/stylesheets/ec.css"  />
                 <link href="stylesheets/esponder.css" media="all" rel="stylesheet" type="text/css"/>
                <h:outputStylesheet library="css" name="stylesheets/esponder.css"  />
            </f:facet>
             <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript" ></script>
        </h:head>

        <h:body>
<h:form id="form"> 
            <p:layout fullPage="true">

                <p:layoutUnit position="north" size="110" resizable="true" closable="true" collapsible="true">
                    <ui:include src="header.xhtml"></ui:include>
                   
                </p:layoutUnit>

                <p:layoutUnit position="south" size="40" closable="true" collapsible="true">
                    <div class="layout-footer"> Copyright @2012 Nephron
                </div>
                </p:layoutUnit>

                <p:layoutUnit position="west" size="175" header="Menu" collapsible="true">
                    <ui:include src="menu.xhtml"></ui:include>
                   
                </p:layoutUnit>

                <p:layoutUnit position="center">
                    <center>
                    
                   <p:panelGrid columns="2"   cellpadding="5" >
                       
                <h:outputLabel value="Language : " /> 
                <p:selectOneMenu value="#{localeBean.language}" onchange="submit()">
                    <f:selectItem itemValue="en" itemLabel="English" />
                    <f:selectItem itemValue="gr" itemLabel="Greek" />
                    <f:selectItem itemValue="fr" itemLabel="French" />
                </p:selectOneMenu>
                
                <h:outputLabel value="Theme : " /> 

                
                 <p:themeSwitcher value="#{themeSwitcherBean.theme}" style="width:165px" effect="fade" id="statefulSwitcher">  
            <f:selectItem itemLabel="Choose Theme" itemValue="" />  
            <f:selectItems value="#{themeSwitcherBean.themes}" />  
            <p:ajax listener="#{themeSwitcherBean.saveTheme}" />  
        </p:themeSwitcher>  
                
            </p:panelGrid>  
                        
                        </center>
                </p:layoutUnit>

            </p:layout>
</h:form>
        </h:body>

    </f:view>
</html>
