/* 
    Document   : esponder
    Created on : 23 Αυγ 2012, 9:12:55 μμ
    Author     : Thomas
    Description:
*/

#header-e1 {
    position:absolute;
   left:0;
/*    border: 1px solid black;*/
}

#header-e2 {
    position:absolute;
    left:86%;
/*    border: 1px solid black;*/
}

#header-e3 {
    position:absolute;
     right:0;
/*    border: 1px solid black;*/
}

.companyHeaderGrid tr, .companyHeaderGrid td {
    border: none !important;
}


.emp1 .fc-event-skin {
    color: white;
}
.emp2 .fc-event-skin {
   color: black;
 }
