<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditContactInfoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditContactInfoLabel_id}" for="id" />
                    <h:inputText id="id" value="#{contactInfoController.selected.id}" title="#{bundle.EditContactInfoTitle_id}" />
                    <h:outputLabel value="#{bundle.EditContactInfoLabel_phone}" for="phone" />
                    <h:inputText id="phone" value="#{contactInfoController.selected.phone}" title="#{bundle.EditContactInfoTitle_phone}" required="true" requiredMessage="#{bundle.EditContactInfoRequiredMessage_phone}"/>
                    <h:outputLabel value="#{bundle.EditContactInfoLabel_companyPhone}" for="companyPhone" />
                    <h:inputText id="companyPhone" value="#{contactInfoController.selected.companyPhone}" title="#{bundle.EditContactInfoTitle_companyPhone}" />
                    <h:outputLabel value="#{bundle.EditContactInfoLabel_mobile}" for="mobile" />
                    <h:inputText id="mobile" value="#{contactInfoController.selected.mobile}" title="#{bundle.EditContactInfoTitle_mobile}" />
                    <h:outputLabel value="#{bundle.EditContactInfoLabel_companyMobile}" for="companyMobile" />
                    <h:inputText id="companyMobile" value="#{contactInfoController.selected.companyMobile}" title="#{bundle.EditContactInfoTitle_companyMobile}" />
                    <h:outputLabel value="#{bundle.EditContactInfoLabel_email}" for="email" />
                    <h:inputText id="email" value="#{contactInfoController.selected.email}" title="#{bundle.EditContactInfoTitle_email}" />
                    <h:outputLabel value="#{bundle.EditContactInfoLabel_companyEmail}" for="companyEmail" />
                    <h:inputText id="companyEmail" value="#{contactInfoController.selected.companyEmail}" title="#{bundle.EditContactInfoTitle_companyEmail}" />
                </h:panelGrid>
                <h:commandLink action="#{contactInfoController.update}" value="#{bundle.EditContactInfoSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditContactInfoViewLink}"/>
                <br />
                <h:commandLink action="#{contactInfoController.prepareList}" value="#{bundle.EditContactInfoShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditContactInfoIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
