<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListContactInfoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListContactInfoEmpty}" rendered="#{contactInfoController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{contactInfoController.items.rowCount > 0}">
                    <h:outputText value="#{contactInfoController.pagination.pageFirstItem + 1}..#{contactInfoController.pagination.pageLastItem + 1}/#{contactInfoController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{contactInfoController.previous}" value="#{bundle.Previous} #{contactInfoController.pagination.pageSize}" rendered="#{contactInfoController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{contactInfoController.next}" value="#{bundle.Next} #{contactInfoController.pagination.pageSize}" rendered="#{contactInfoController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{contactInfoController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListContactInfoTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListContactInfoTitle_phone}"/>
                            </f:facet>
                            <h:outputText value="#{item.phone}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListContactInfoTitle_companyPhone}"/>
                            </f:facet>
                            <h:outputText value="#{item.companyPhone}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListContactInfoTitle_mobile}"/>
                            </f:facet>
                            <h:outputText value="#{item.mobile}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListContactInfoTitle_companyMobile}"/>
                            </f:facet>
                            <h:outputText value="#{item.companyMobile}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListContactInfoTitle_email}"/>
                            </f:facet>
                            <h:outputText value="#{item.email}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListContactInfoTitle_companyEmail}"/>
                            </f:facet>
                            <h:outputText value="#{item.companyEmail}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{contactInfoController.prepareView}" value="#{bundle.ListContactInfoViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{contactInfoController.prepareEdit}" value="#{bundle.ListContactInfoEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{contactInfoController.destroy}" value="#{bundle.ListContactInfoDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{contactInfoController.prepareCreate}" value="#{bundle.ListContactInfoCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListContactInfoIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
