<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewContactInfoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewContactInfoLabel_id}"/>
                    <h:outputText value="#{contactInfoController.selected.id}" title="#{bundle.ViewContactInfoTitle_id}"/>
                    <h:outputText value="#{bundle.ViewContactInfoLabel_phone}"/>
                    <h:outputText value="#{contactInfoController.selected.phone}" title="#{bundle.ViewContactInfoTitle_phone}"/>
                    <h:outputText value="#{bundle.ViewContactInfoLabel_companyPhone}"/>
                    <h:outputText value="#{contactInfoController.selected.companyPhone}" title="#{bundle.ViewContactInfoTitle_companyPhone}"/>
                    <h:outputText value="#{bundle.ViewContactInfoLabel_mobile}"/>
                    <h:outputText value="#{contactInfoController.selected.mobile}" title="#{bundle.ViewContactInfoTitle_mobile}"/>
                    <h:outputText value="#{bundle.ViewContactInfoLabel_companyMobile}"/>
                    <h:outputText value="#{contactInfoController.selected.companyMobile}" title="#{bundle.ViewContactInfoTitle_companyMobile}"/>
                    <h:outputText value="#{bundle.ViewContactInfoLabel_email}"/>
                    <h:outputText value="#{contactInfoController.selected.email}" title="#{bundle.ViewContactInfoTitle_email}"/>
                    <h:outputText value="#{bundle.ViewContactInfoLabel_companyEmail}"/>
                    <h:outputText value="#{contactInfoController.selected.companyEmail}" title="#{bundle.ViewContactInfoTitle_companyEmail}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{contactInfoController.destroyAndView}" value="#{bundle.ViewContactInfoDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewContactInfoEditLink}"/>
                <br />
                <h:commandLink action="#{contactInfoController.prepareCreate}" value="#{bundle.ViewContactInfoCreateLink}" />
                <br />
                <h:commandLink action="#{contactInfoController.prepareList}" value="#{bundle.ViewContactInfoShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewContactInfoIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
