<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateDeviceTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateDeviceLabel_serialNumber}" for="serialNumber" />
                    <h:inputText id="serialNumber" value="#{deviceController.selected.serialNumber}" title="#{bundle.CreateDeviceTitle_serialNumber}" />
                    <h:outputLabel value="#{bundle.CreateDeviceLabel_expirationDate}" for="expirationDate" />
                    <h:inputText id="expirationDate" value="#{deviceController.selected.expirationDate}" title="#{bundle.CreateDeviceTitle_expirationDate}" >
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.CreateDeviceLabel_manufacturedDate}" for="manufacturedDate" />
                    <h:inputText id="manufacturedDate" value="#{deviceController.selected.manufacturedDate}" title="#{bundle.CreateDeviceTitle_manufacturedDate}" >
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.CreateDeviceLabel_id}" for="id" />
                    <h:inputText id="id" value="#{deviceController.selected.id}" title="#{bundle.CreateDeviceTitle_id}" />
                    <h:outputLabel value="#{bundle.CreateDeviceLabel_code}" for="code" />
                    <h:inputText id="code" value="#{deviceController.selected.code}" title="#{bundle.CreateDeviceTitle_code}" />
                    <h:outputLabel value="#{bundle.CreateDeviceLabel_name}" for="name" />
                    <h:inputText id="name" value="#{deviceController.selected.name}" title="#{bundle.CreateDeviceTitle_name}" required="true" requiredMessage="#{bundle.CreateDeviceRequiredMessage_name}"/>
                    <h:outputLabel value="#{bundle.CreateDeviceLabel_quantity}" for="quantity" />
                    <h:inputText id="quantity" value="#{deviceController.selected.quantity}" title="#{bundle.CreateDeviceTitle_quantity}" />
                    <h:outputLabel value="#{bundle.CreateDeviceLabel_effectiveDate}" for="effectiveDate" />
                    <h:inputText id="effectiveDate" value="#{deviceController.selected.effectiveDate}" title="#{bundle.CreateDeviceTitle_effectiveDate}" >
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.CreateDeviceLabel_role}" for="role" />
                    <h:selectOneMenu id="role" value="#{deviceController.selected.role}" title="#{bundle.CreateDeviceTitle_role}" required="true" requiredMessage="#{bundle.CreateDeviceRequiredMessage_role}">
                        <f:selectItems value="#{roleController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{deviceController.create}" value="#{bundle.CreateDeviceSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{deviceController.prepareList}" value="#{bundle.CreateDeviceShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateDeviceIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
