<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditDeviceTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditDeviceLabel_serialNumber}" for="serialNumber" />
                    <h:inputText id="serialNumber" value="#{deviceController.selected.serialNumber}" title="#{bundle.EditDeviceTitle_serialNumber}" />
                    <h:outputLabel value="#{bundle.EditDeviceLabel_expirationDate}" for="expirationDate" />
                    <h:inputText id="expirationDate" value="#{deviceController.selected.expirationDate}" title="#{bundle.EditDeviceTitle_expirationDate}" >
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditDeviceLabel_manufacturedDate}" for="manufacturedDate" />
                    <h:inputText id="manufacturedDate" value="#{deviceController.selected.manufacturedDate}" title="#{bundle.EditDeviceTitle_manufacturedDate}" >
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditDeviceLabel_id}" for="id" />
                    <h:inputText id="id" value="#{deviceController.selected.id}" title="#{bundle.EditDeviceTitle_id}" />
                    <h:outputLabel value="#{bundle.EditDeviceLabel_code}" for="code" />
                    <h:inputText id="code" value="#{deviceController.selected.code}" title="#{bundle.EditDeviceTitle_code}" />
                    <h:outputLabel value="#{bundle.EditDeviceLabel_name}" for="name" />
                    <h:inputText id="name" value="#{deviceController.selected.name}" title="#{bundle.EditDeviceTitle_name}" required="true" requiredMessage="#{bundle.EditDeviceRequiredMessage_name}"/>
                    <h:outputLabel value="#{bundle.EditDeviceLabel_quantity}" for="quantity" />
                    <h:inputText id="quantity" value="#{deviceController.selected.quantity}" title="#{bundle.EditDeviceTitle_quantity}" />
                    <h:outputLabel value="#{bundle.EditDeviceLabel_effectiveDate}" for="effectiveDate" />
                    <h:inputText id="effectiveDate" value="#{deviceController.selected.effectiveDate}" title="#{bundle.EditDeviceTitle_effectiveDate}" >
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditDeviceLabel_role}" for="role" />
                    <h:selectOneMenu id="role" value="#{deviceController.selected.role}" title="#{bundle.EditDeviceTitle_role}" required="true" requiredMessage="#{bundle.EditDeviceRequiredMessage_role}">
                        <f:selectItems value="#{roleController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{deviceController.update}" value="#{bundle.EditDeviceSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditDeviceViewLink}"/>
                <br />
                <h:commandLink action="#{deviceController.prepareList}" value="#{bundle.EditDeviceShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditDeviceIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
