<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewDeviceTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewDeviceLabel_serialNumber}"/>
                    <h:outputText value="#{deviceController.selected.serialNumber}" title="#{bundle.ViewDeviceTitle_serialNumber}"/>
                    <h:outputText value="#{bundle.ViewDeviceLabel_expirationDate}"/>
                    <h:outputText value="#{deviceController.selected.expirationDate}" title="#{bundle.ViewDeviceTitle_expirationDate}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewDeviceLabel_manufacturedDate}"/>
                    <h:outputText value="#{deviceController.selected.manufacturedDate}" title="#{bundle.ViewDeviceTitle_manufacturedDate}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewDeviceLabel_id}"/>
                    <h:outputText value="#{deviceController.selected.id}" title="#{bundle.ViewDeviceTitle_id}"/>
                    <h:outputText value="#{bundle.ViewDeviceLabel_code}"/>
                    <h:outputText value="#{deviceController.selected.code}" title="#{bundle.ViewDeviceTitle_code}"/>
                    <h:outputText value="#{bundle.ViewDeviceLabel_name}"/>
                    <h:outputText value="#{deviceController.selected.name}" title="#{bundle.ViewDeviceTitle_name}"/>
                    <h:outputText value="#{bundle.ViewDeviceLabel_quantity}"/>
                    <h:outputText value="#{deviceController.selected.quantity}" title="#{bundle.ViewDeviceTitle_quantity}"/>
                    <h:outputText value="#{bundle.ViewDeviceLabel_effectiveDate}"/>
                    <h:outputText value="#{deviceController.selected.effectiveDate}" title="#{bundle.ViewDeviceTitle_effectiveDate}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewDeviceLabel_role}"/>
                    <h:outputText value="#{deviceController.selected.role}" title="#{bundle.ViewDeviceTitle_role}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{deviceController.destroyAndView}" value="#{bundle.ViewDeviceDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewDeviceEditLink}"/>
                <br />
                <h:commandLink action="#{deviceController.prepareCreate}" value="#{bundle.ViewDeviceCreateLink}" />
                <br />
                <h:commandLink action="#{deviceController.prepareList}" value="#{bundle.ViewDeviceShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewDeviceIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
