<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
    <h:head>
        <title>Facelet Title</title>
        <h:outputStylesheet name="css/jsfcrud.css"/>
    </h:head>
    <h:body>
        Nephron+ Admin Interface for HL7 Database
        <br />
        <h:link outcome="/doctor/List" value="Show All Doctor Role Items"/>
        <br />
        <h:link outcome="/patient/List" value="Show All Patient Role Items"/>
        <br />
        <h:link outcome="/smartPhone/List" value="Show All SmartPhone Role Items"/>
        <br />
        <h:link outcome="/wAKD/List" value="Show All WAKD Role Items"/>
        <br />
        <h:link outcome="/device/List" value="Show All Device Items"/>
        <br />
        <h:link outcome="/person/List" value="Show All Person Items"/>
        <br />
        <h:link outcome="/role/List" value="Show All Role Items"/>
    </h:body>







</html>

