<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
    <h:head>
        <title>PKI Admin Interface(Local Access Only)</title>
        <h:outputStylesheet name="css/jsfcrud.css"/>
    </h:head>
    <h:body>
        <h1>Welcome to PKI Administration</h1><br/>
        (Local Access Only - Access from trusted Network PC Only)<br/>
        
        <br />
        <h:link outcome="/keyDB/List" value="PKI - Add new User"/>
        <br />
        <h:link outcome="/roleDB/List" value="PKI - Role Access Management"/>
        <br />
        <h:link outcome="/patientconnections/List" value="Manage Connection between Patients and Personal DB"/>
        <br />
        <h:link outcome="/hL7connections/List" value="Manage Connection between HL7 concept and Personal DB"/>
        
    </h:body>




</html>

