<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreatepatientconnectionsTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreatepatientconnectionsLabel_id}" for="id" />
                    <h:inputText id="id" value="#{patientconnectionsController.selected.id}" title="#{bundle.CreatepatientconnectionsTitle_id}" />
                    <h:outputLabel value="#{bundle.CreatepatientconnectionsLabel_idcontact}" for="idcontact" />
                    <h:inputText id="idcontact" value="#{patientconnectionsController.selected.idcontact}" title="#{bundle.CreatepatientconnectionsTitle_idcontact}" />
                    <h:outputLabel value="#{bundle.CreatepatientconnectionsLabel_idpersonnal}" for="idpersonnal" />
                    <h:inputText id="idpersonnal" value="#{patientconnectionsController.selected.idpersonnal}" title="#{bundle.CreatepatientconnectionsTitle_idpersonnal}" />
                    <h:outputLabel value="#{bundle.CreatepatientconnectionsLabel_idaddress}" for="idaddress" />
                    <h:inputText id="idaddress" value="#{patientconnectionsController.selected.idaddress}" title="#{bundle.CreatepatientconnectionsTitle_idaddress}" />
                    <h:outputLabel value="#{bundle.CreatepatientconnectionsLabel_idpatient}" for="idpatient" />
                    <h:inputText id="idpatient" value="#{patientconnectionsController.selected.idpatient}" title="#{bundle.CreatepatientconnectionsTitle_idpatient}" />
                </h:panelGrid>
                <br />
                <h:commandLink action="#{patientconnectionsController.create}" value="#{bundle.CreatepatientconnectionsSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{patientconnectionsController.prepareList}" value="#{bundle.CreatepatientconnectionsShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreatepatientconnectionsIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
