<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditpatientconnectionsTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditpatientconnectionsLabel_id}" for="id" />
                    <h:inputText id="id" value="#{patientconnectionsController.selected.id}" title="#{bundle.EditpatientconnectionsTitle_id}" />
                    <h:outputLabel value="#{bundle.EditpatientconnectionsLabel_idcontact}" for="idcontact" />
                    <h:inputText id="idcontact" value="#{patientconnectionsController.selected.idcontact}" title="#{bundle.EditpatientconnectionsTitle_idcontact}" />
                    <h:outputLabel value="#{bundle.EditpatientconnectionsLabel_idpersonnal}" for="idpersonnal" />
                    <h:inputText id="idpersonnal" value="#{patientconnectionsController.selected.idpersonnal}" title="#{bundle.EditpatientconnectionsTitle_idpersonnal}" />
                    <h:outputLabel value="#{bundle.EditpatientconnectionsLabel_idaddress}" for="idaddress" />
                    <h:inputText id="idaddress" value="#{patientconnectionsController.selected.idaddress}" title="#{bundle.EditpatientconnectionsTitle_idaddress}" />
                    <h:outputLabel value="#{bundle.EditpatientconnectionsLabel_idpatient}" for="idpatient" />
                    <h:inputText id="idpatient" value="#{patientconnectionsController.selected.idpatient}" title="#{bundle.EditpatientconnectionsTitle_idpatient}" />
                </h:panelGrid>
                <h:commandLink action="#{patientconnectionsController.update}" value="#{bundle.EditpatientconnectionsSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditpatientconnectionsViewLink}"/>
                <br />
                <h:commandLink action="#{patientconnectionsController.prepareList}" value="#{bundle.EditpatientconnectionsShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditpatientconnectionsIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
