<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListpatientconnectionsTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListpatientconnectionsEmpty}" rendered="#{patientconnectionsController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{patientconnectionsController.items.rowCount > 0}">
                    <h:outputText value="#{patientconnectionsController.pagination.pageFirstItem + 1}..#{patientconnectionsController.pagination.pageLastItem + 1}/#{patientconnectionsController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{patientconnectionsController.previous}" value="#{bundle.Previous} #{patientconnectionsController.pagination.pageSize}" rendered="#{patientconnectionsController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{patientconnectionsController.next}" value="#{bundle.Next} #{patientconnectionsController.pagination.pageSize}" rendered="#{patientconnectionsController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{patientconnectionsController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListpatientconnectionsTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListpatientconnectionsTitle_idcontact}"/>
                            </f:facet>
                            <h:outputText value="#{item.idcontact}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListpatientconnectionsTitle_idpersonnal}"/>
                            </f:facet>
                            <h:outputText value="#{item.idpersonnal}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListpatientconnectionsTitle_idaddress}"/>
                            </f:facet>
                            <h:outputText value="#{item.idaddress}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListpatientconnectionsTitle_idpatient}"/>
                            </f:facet>
                            <h:outputText value="#{item.idpatient}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{patientconnectionsController.prepareView}" value="#{bundle.ListpatientconnectionsViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{patientconnectionsController.prepareEdit}" value="#{bundle.ListpatientconnectionsEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{patientconnectionsController.destroy}" value="#{bundle.ListpatientconnectionsDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{patientconnectionsController.prepareCreate}" value="#{bundle.ListpatientconnectionsCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListpatientconnectionsIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
