<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewpatientconnectionsTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewpatientconnectionsLabel_id}"/>
                    <h:outputText value="#{patientconnectionsController.selected.id}" title="#{bundle.ViewpatientconnectionsTitle_id}"/>
                    <h:outputText value="#{bundle.ViewpatientconnectionsLabel_idcontact}"/>
                    <h:outputText value="#{patientconnectionsController.selected.idcontact}" title="#{bundle.ViewpatientconnectionsTitle_idcontact}"/>
                    <h:outputText value="#{bundle.ViewpatientconnectionsLabel_idpersonnal}"/>
                    <h:outputText value="#{patientconnectionsController.selected.idpersonnal}" title="#{bundle.ViewpatientconnectionsTitle_idpersonnal}"/>
                    <h:outputText value="#{bundle.ViewpatientconnectionsLabel_idaddress}"/>
                    <h:outputText value="#{patientconnectionsController.selected.idaddress}" title="#{bundle.ViewpatientconnectionsTitle_idaddress}"/>
                    <h:outputText value="#{bundle.ViewpatientconnectionsLabel_idpatient}"/>
                    <h:outputText value="#{patientconnectionsController.selected.idpatient}" title="#{bundle.ViewpatientconnectionsTitle_idpatient}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{patientconnectionsController.destroyAndView}" value="#{bundle.ViewpatientconnectionsDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewpatientconnectionsEditLink}"/>
                <br />
                <h:commandLink action="#{patientconnectionsController.prepareCreate}" value="#{bundle.ViewpatientconnectionsCreateLink}" />
                <br />
                <h:commandLink action="#{patientconnectionsController.prepareList}" value="#{bundle.ViewpatientconnectionsShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewpatientconnectionsIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
