<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreatePatientTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreatePatientLabel_confidentialityCode}" for="confidentialityCode" />
                    <h:inputText id="confidentialityCode" value="#{patientController.selected.confidentialityCode}" title="#{bundle.CreatePatientTitle_confidentialityCode}" />
                    <h:outputLabel value="#{bundle.CreatePatientLabel_vipCode}" for="vipCode" />
                    <h:inputText id="vipCode" value="#{patientController.selected.vipCode}" title="#{bundle.CreatePatientTitle_vipCode}" />
                    <h:outputLabel value="#{bundle.CreatePatientLabel_id}" for="id" />
                    <h:inputText id="id" value="#{patientController.selected.id}" title="#{bundle.CreatePatientTitle_id}" />
                    <h:outputLabel value="#{bundle.CreatePatientLabel_code}" for="code" />
                    <h:inputText id="code" value="#{patientController.selected.code}" title="#{bundle.CreatePatientTitle_code}" required="true" requiredMessage="#{bundle.CreatePatientRequiredMessage_code}"/>
                    <h:outputLabel value="#{bundle.CreatePatientLabel_name}" for="name" />
                    <h:inputText id="name" value="#{patientController.selected.name}" title="#{bundle.CreatePatientTitle_name}" required="true" requiredMessage="#{bundle.CreatePatientRequiredMessage_name}"/>
                    <h:outputLabel value="#{bundle.CreatePatientLabel_status}" for="status" />
                    <h:inputText id="status" value="#{patientController.selected.status}" title="#{bundle.CreatePatientTitle_status}" />
                    <h:outputLabel value="#{bundle.CreatePatientLabel_quantity}" for="quantity" />
                    <h:inputText id="quantity" value="#{patientController.selected.quantity}" title="#{bundle.CreatePatientTitle_quantity}" />
                    <h:outputLabel value="#{bundle.CreatePatientLabel_effectiveDate}" for="effectiveDate" />
                    <h:inputText id="effectiveDate" value="#{patientController.selected.effectiveDate}" title="#{bundle.CreatePatientTitle_effectiveDate}" >
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.CreatePatientLabel_address}" for="address" />
                    <h:inputText id="address" value="#{patientController.selected.address}" title="#{bundle.CreatePatientTitle_address}" />
                </h:panelGrid>
                <br />
                <h:commandLink action="#{patientController.create}" value="#{bundle.CreatePatientSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{patientController.prepareList}" value="#{bundle.CreatePatientShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreatePatientIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
