<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditPatientTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditPatientLabel_confidentialityCode}" for="confidentialityCode" />
                    <h:inputText id="confidentialityCode" value="#{patientController.selected.confidentialityCode}" title="#{bundle.EditPatientTitle_confidentialityCode}" />
                    <h:outputLabel value="#{bundle.EditPatientLabel_vipCode}" for="vipCode" />
                    <h:inputText id="vipCode" value="#{patientController.selected.vipCode}" title="#{bundle.EditPatientTitle_vipCode}" />
                    <h:outputLabel value="#{bundle.EditPatientLabel_id}" for="id" />
                    <h:inputText id="id" value="#{patientController.selected.id}" title="#{bundle.EditPatientTitle_id}" />
                    <h:outputLabel value="#{bundle.EditPatientLabel_code}" for="code" />
                    <h:inputText id="code" value="#{patientController.selected.code}" title="#{bundle.EditPatientTitle_code}" required="true" requiredMessage="#{bundle.EditPatientRequiredMessage_code}"/>
                    <h:outputLabel value="#{bundle.EditPatientLabel_name}" for="name" />
                    <h:inputText id="name" value="#{patientController.selected.name}" title="#{bundle.EditPatientTitle_name}" required="true" requiredMessage="#{bundle.EditPatientRequiredMessage_name}"/>
                    <h:outputLabel value="#{bundle.EditPatientLabel_status}" for="status" />
                    <h:inputText id="status" value="#{patientController.selected.status}" title="#{bundle.EditPatientTitle_status}" />
                    <h:outputLabel value="#{bundle.EditPatientLabel_quantity}" for="quantity" />
                    <h:inputText id="quantity" value="#{patientController.selected.quantity}" title="#{bundle.EditPatientTitle_quantity}" />
                    <h:outputLabel value="#{bundle.EditPatientLabel_effectiveDate}" for="effectiveDate" />
                    <h:inputText id="effectiveDate" value="#{patientController.selected.effectiveDate}" title="#{bundle.EditPatientTitle_effectiveDate}" >
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditPatientLabel_address}" for="address" />
                    <h:inputText id="address" value="#{patientController.selected.address}" title="#{bundle.EditPatientTitle_address}" />
                </h:panelGrid>
                <h:commandLink action="#{patientController.update}" value="#{bundle.EditPatientSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditPatientViewLink}"/>
                <br />
                <h:commandLink action="#{patientController.prepareList}" value="#{bundle.EditPatientShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditPatientIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
