<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListPatientTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListPatientEmpty}" rendered="#{patientController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{patientController.items.rowCount > 0}">
                    <h:outputText value="#{patientController.pagination.pageFirstItem + 1}..#{patientController.pagination.pageLastItem + 1}/#{patientController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{patientController.previous}" value="#{bundle.Previous} #{patientController.pagination.pageSize}" rendered="#{patientController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{patientController.next}" value="#{bundle.Next} #{patientController.pagination.pageSize}" rendered="#{patientController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{patientController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPatientTitle_confidentialityCode}"/>
                            </f:facet>
                            <h:outputText value="#{item.confidentialityCode}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPatientTitle_vipCode}"/>
                            </f:facet>
                            <h:outputText value="#{item.vipCode}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPatientTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPatientTitle_code}"/>
                            </f:facet>
                            <h:outputText value="#{item.code}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPatientTitle_name}"/>
                            </f:facet>
                            <h:outputText value="#{item.name}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPatientTitle_status}"/>
                            </f:facet>
                            <h:outputText value="#{item.status}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPatientTitle_quantity}"/>
                            </f:facet>
                            <h:outputText value="#{item.quantity}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPatientTitle_effectiveDate}"/>
                            </f:facet>
                            <h:outputText value="#{item.effectiveDate}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPatientTitle_address}"/>
                            </f:facet>
                            <h:outputText value="#{item.address}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{patientController.prepareView}" value="#{bundle.ListPatientViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{patientController.prepareEdit}" value="#{bundle.ListPatientEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{patientController.destroy}" value="#{bundle.ListPatientDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{patientController.prepareCreate}" value="#{bundle.ListPatientCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListPatientIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
