<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewPatientTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewPatientLabel_confidentialityCode}"/>
                    <h:outputText value="#{patientController.selected.confidentialityCode}" title="#{bundle.ViewPatientTitle_confidentialityCode}"/>
                    <h:outputText value="#{bundle.ViewPatientLabel_vipCode}"/>
                    <h:outputText value="#{patientController.selected.vipCode}" title="#{bundle.ViewPatientTitle_vipCode}"/>
                    <h:outputText value="#{bundle.ViewPatientLabel_id}"/>
                    <h:outputText value="#{patientController.selected.id}" title="#{bundle.ViewPatientTitle_id}"/>
                    <h:outputText value="#{bundle.ViewPatientLabel_code}"/>
                    <h:outputText value="#{patientController.selected.code}" title="#{bundle.ViewPatientTitle_code}"/>
                    <h:outputText value="#{bundle.ViewPatientLabel_name}"/>
                    <h:outputText value="#{patientController.selected.name}" title="#{bundle.ViewPatientTitle_name}"/>
                    <h:outputText value="#{bundle.ViewPatientLabel_status}"/>
                    <h:outputText value="#{patientController.selected.status}" title="#{bundle.ViewPatientTitle_status}"/>
                    <h:outputText value="#{bundle.ViewPatientLabel_quantity}"/>
                    <h:outputText value="#{patientController.selected.quantity}" title="#{bundle.ViewPatientTitle_quantity}"/>
                    <h:outputText value="#{bundle.ViewPatientLabel_effectiveDate}"/>
                    <h:outputText value="#{patientController.selected.effectiveDate}" title="#{bundle.ViewPatientTitle_effectiveDate}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewPatientLabel_address}"/>
                    <h:outputText value="#{patientController.selected.address}" title="#{bundle.ViewPatientTitle_address}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{patientController.destroyAndView}" value="#{bundle.ViewPatientDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewPatientEditLink}"/>
                <br />
                <h:commandLink action="#{patientController.prepareCreate}" value="#{bundle.ViewPatientCreateLink}" />
                <br />
                <h:commandLink action="#{patientController.prepareList}" value="#{bundle.ViewPatientShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewPatientIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
