<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateKeyDBTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateKeyDBLabel_id}" for="id" />
                    <h:inputText id="id" value="#{keyDBController.selected.id}" title="#{bundle.CreateKeyDBTitle_id}" />
                    <h:outputLabel value="#{bundle.CreateKeyDBLabel_username}" for="username" />
                    <h:inputText id="username" value="#{keyDBController.selected.username}" title="#{bundle.CreateKeyDBTitle_username}" />
                    <h:outputLabel value="#{bundle.CreateKeyDBLabel_organization}" for="organization" />
                    <h:inputText id="organization" value="#{keyDBController.selected.organization}" title="#{bundle.CreateKeyDBTitle_organization}" />
                    <h:outputLabel value="#{bundle.CreateKeyDBLabel_role}" for="role" />
                    <h:inputText id="role" value="#{keyDBController.selected.role}" title="#{bundle.CreateKeyDBTitle_role}" />
                    <h:outputLabel value="#{bundle.CreateKeyDBLabel_privateKey}" for="privateKey" />
                    <h:inputText id="privateKey" value="#{keyDBController.selected.privateKey}" title="#{bundle.CreateKeyDBTitle_privateKey}" />
                    <h:outputLabel value="#{bundle.CreateKeyDBLabel_publicKey}" for="publicKey" />
                    <h:inputText id="publicKey" value="#{keyDBController.selected.publicKey}" title="#{bundle.CreateKeyDBTitle_publicKey}" />
                    <h:outputLabel value="#{bundle.CreateKeyDBLabel_secretKey}" for="secretKey" />
                    <h:inputText id="secretKey" value="#{keyDBController.selected.secretKey}" title="#{bundle.CreateKeyDBTitle_secretKey}" />
                    <h:outputLabel value="#{bundle.CreateKeyDBLabel_puserID}" for="puserID" />
                    <h:inputText id="puserID" value="#{keyDBController.selected.puserID}" title="#{bundle.CreateKeyDBTitle_puserID}" />
                </h:panelGrid>
                <br />
                <h:commandLink action="#{keyDBController.create}" value="#{bundle.CreateKeyDBSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{keyDBController.prepareList}" value="#{bundle.CreateKeyDBShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateKeyDBIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
