<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListKeyDBTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListKeyDBEmpty}" rendered="#{keyDBController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{keyDBController.items.rowCount > 0}">
                    <h:outputText value="#{keyDBController.pagination.pageFirstItem + 1}..#{keyDBController.pagination.pageLastItem + 1}/#{keyDBController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{keyDBController.previous}" value="#{bundle.Previous} #{keyDBController.pagination.pageSize}" rendered="#{keyDBController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{keyDBController.next}" value="#{bundle.Next} #{keyDBController.pagination.pageSize}" rendered="#{keyDBController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{keyDBController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListKeyDBTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListKeyDBTitle_username}"/>
                            </f:facet>
                            <h:outputText value="#{item.username}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListKeyDBTitle_organization}"/>
                            </f:facet>
                            <h:outputText value="#{item.organization}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListKeyDBTitle_role}"/>
                            </f:facet>
                            <h:outputText value="#{item.role}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListKeyDBTitle_privateKey}"/>
                            </f:facet>
                            <h:outputText value="#{item.privateKey}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListKeyDBTitle_publicKey}"/>
                            </f:facet>
                            <h:outputText value="#{item.publicKey}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListKeyDBTitle_secretKey}"/>
                            </f:facet>
                            <h:outputText value="#{item.secretKey}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListKeyDBTitle_puserID}"/>
                            </f:facet>
                            <h:outputText value="#{item.puserID}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{keyDBController.prepareView}" value="#{bundle.ListKeyDBViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{keyDBController.prepareEdit}" value="#{bundle.ListKeyDBEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{keyDBController.destroy}" value="#{bundle.ListKeyDBDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{keyDBController.prepareCreate}" value="#{bundle.ListKeyDBCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListKeyDBIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
