<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewKeyDBTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewKeyDBLabel_id}"/>
                    <h:outputText value="#{keyDBController.selected.id}" title="#{bundle.ViewKeyDBTitle_id}"/>
                    <h:outputText value="#{bundle.ViewKeyDBLabel_username}"/>
                    <h:outputText value="#{keyDBController.selected.username}" title="#{bundle.ViewKeyDBTitle_username}"/>
                    <h:outputText value="#{bundle.ViewKeyDBLabel_organization}"/>
                    <h:outputText value="#{keyDBController.selected.organization}" title="#{bundle.ViewKeyDBTitle_organization}"/>
                    <h:outputText value="#{bundle.ViewKeyDBLabel_role}"/>
                    <h:outputText value="#{keyDBController.selected.role}" title="#{bundle.ViewKeyDBTitle_role}"/>
                    <h:outputText value="#{bundle.ViewKeyDBLabel_privateKey}"/>
                    <h:outputText value="#{keyDBController.selected.privateKey}" title="#{bundle.ViewKeyDBTitle_privateKey}"/>
                    <h:outputText value="#{bundle.ViewKeyDBLabel_publicKey}"/>
                    <h:outputText value="#{keyDBController.selected.publicKey}" title="#{bundle.ViewKeyDBTitle_publicKey}"/>
                    <h:outputText value="#{bundle.ViewKeyDBLabel_secretKey}"/>
                    <h:outputText value="#{keyDBController.selected.secretKey}" title="#{bundle.ViewKeyDBTitle_secretKey}"/>
                    <h:outputText value="#{bundle.ViewKeyDBLabel_puserID}"/>
                    <h:outputText value="#{keyDBController.selected.puserID}" title="#{bundle.ViewKeyDBTitle_puserID}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{keyDBController.destroyAndView}" value="#{bundle.ViewKeyDBDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewKeyDBEditLink}"/>
                <br />
                <h:commandLink action="#{keyDBController.prepareCreate}" value="#{bundle.ViewKeyDBCreateLink}" />
                <br />
                <h:commandLink action="#{keyDBController.prepareList}" value="#{bundle.ViewKeyDBShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewKeyDBIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
