<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditAddressTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditAddressLabel_id}" for="id" />
                    <h:inputText id="id" value="#{addressController.selected.id}" title="#{bundle.EditAddressTitle_id}" />
                    <h:outputLabel value="#{bundle.EditAddressLabel_code}" for="code" />
                    <h:inputText id="code" value="#{addressController.selected.code}" title="#{bundle.EditAddressTitle_code}" />
                    <h:outputLabel value="#{bundle.EditAddressLabel_name}" for="name" />
                    <h:inputText id="name" value="#{addressController.selected.name}" title="#{bundle.EditAddressTitle_name}" />
                    <h:outputLabel value="#{bundle.EditAddressLabel_administrativeArea}" for="administrativeArea" />
                    <h:inputText id="administrativeArea" value="#{addressController.selected.administrativeArea}" title="#{bundle.EditAddressTitle_administrativeArea}" />
                    <h:outputLabel value="#{bundle.EditAddressLabel_city}" for="city" />
                    <h:inputText id="city" value="#{addressController.selected.city}" title="#{bundle.EditAddressTitle_city}" />
                    <h:outputLabel value="#{bundle.EditAddressLabel_street}" for="street" />
                    <h:inputText id="street" value="#{addressController.selected.street}" title="#{bundle.EditAddressTitle_street}" />
                    <h:outputLabel value="#{bundle.EditAddressLabel_streetNo}" for="streetNo" />
                    <h:inputText id="streetNo" value="#{addressController.selected.streetNo}" title="#{bundle.EditAddressTitle_streetNo}" />
                    <h:outputLabel value="#{bundle.EditAddressLabel_floor}" for="floor" />
                    <h:inputText id="floor" value="#{addressController.selected.floor}" title="#{bundle.EditAddressTitle_floor}" />
                    <h:outputLabel value="#{bundle.EditAddressLabel_postCode}" for="postCode" />
                    <h:inputText id="postCode" value="#{addressController.selected.postCode}" title="#{bundle.EditAddressTitle_postCode}" />
                </h:panelGrid>
                <h:commandLink action="#{addressController.update}" value="#{bundle.EditAddressSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditAddressViewLink}"/>
                <br />
                <h:commandLink action="#{addressController.prepareList}" value="#{bundle.EditAddressShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditAddressIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
