<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListAddressTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListAddressEmpty}" rendered="#{addressController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{addressController.items.rowCount > 0}">
                    <h:outputText value="#{addressController.pagination.pageFirstItem + 1}..#{addressController.pagination.pageLastItem + 1}/#{addressController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{addressController.previous}" value="#{bundle.Previous} #{addressController.pagination.pageSize}" rendered="#{addressController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{addressController.next}" value="#{bundle.Next} #{addressController.pagination.pageSize}" rendered="#{addressController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{addressController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAddressTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAddressTitle_code}"/>
                            </f:facet>
                            <h:outputText value="#{item.code}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAddressTitle_name}"/>
                            </f:facet>
                            <h:outputText value="#{item.name}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAddressTitle_administrativeArea}"/>
                            </f:facet>
                            <h:outputText value="#{item.administrativeArea}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAddressTitle_city}"/>
                            </f:facet>
                            <h:outputText value="#{item.city}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAddressTitle_street}"/>
                            </f:facet>
                            <h:outputText value="#{item.street}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAddressTitle_streetNo}"/>
                            </f:facet>
                            <h:outputText value="#{item.streetNo}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAddressTitle_floor}"/>
                            </f:facet>
                            <h:outputText value="#{item.floor}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAddressTitle_postCode}"/>
                            </f:facet>
                            <h:outputText value="#{item.postCode}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{addressController.prepareView}" value="#{bundle.ListAddressViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{addressController.prepareEdit}" value="#{bundle.ListAddressEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{addressController.destroy}" value="#{bundle.ListAddressDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{addressController.prepareCreate}" value="#{bundle.ListAddressCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListAddressIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
