<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewAddressTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewAddressLabel_id}"/>
                    <h:outputText value="#{addressController.selected.id}" title="#{bundle.ViewAddressTitle_id}"/>
                    <h:outputText value="#{bundle.ViewAddressLabel_code}"/>
                    <h:outputText value="#{addressController.selected.code}" title="#{bundle.ViewAddressTitle_code}"/>
                    <h:outputText value="#{bundle.ViewAddressLabel_name}"/>
                    <h:outputText value="#{addressController.selected.name}" title="#{bundle.ViewAddressTitle_name}"/>
                    <h:outputText value="#{bundle.ViewAddressLabel_administrativeArea}"/>
                    <h:outputText value="#{addressController.selected.administrativeArea}" title="#{bundle.ViewAddressTitle_administrativeArea}"/>
                    <h:outputText value="#{bundle.ViewAddressLabel_city}"/>
                    <h:outputText value="#{addressController.selected.city}" title="#{bundle.ViewAddressTitle_city}"/>
                    <h:outputText value="#{bundle.ViewAddressLabel_street}"/>
                    <h:outputText value="#{addressController.selected.street}" title="#{bundle.ViewAddressTitle_street}"/>
                    <h:outputText value="#{bundle.ViewAddressLabel_streetNo}"/>
                    <h:outputText value="#{addressController.selected.streetNo}" title="#{bundle.ViewAddressTitle_streetNo}"/>
                    <h:outputText value="#{bundle.ViewAddressLabel_floor}"/>
                    <h:outputText value="#{addressController.selected.floor}" title="#{bundle.ViewAddressTitle_floor}"/>
                    <h:outputText value="#{bundle.ViewAddressLabel_postCode}"/>
                    <h:outputText value="#{addressController.selected.postCode}" title="#{bundle.ViewAddressTitle_postCode}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{addressController.destroyAndView}" value="#{bundle.ViewAddressDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewAddressEditLink}"/>
                <br />
                <h:commandLink action="#{addressController.prepareCreate}" value="#{bundle.ViewAddressCreateLink}" />
                <br />
                <h:commandLink action="#{addressController.prepareList}" value="#{bundle.ViewAddressShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewAddressIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
