<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateSmartPhoneTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateSmartPhoneLabel_id}" for="id" />
                    <h:inputText id="id" value="#{smartPhoneController.selected.id}" title="#{bundle.CreateSmartPhoneTitle_id}" />
                    <h:outputLabel value="#{bundle.CreateSmartPhoneLabel_code}" for="code" />
                    <h:inputText id="code" value="#{smartPhoneController.selected.code}" title="#{bundle.CreateSmartPhoneTitle_code}" required="true" requiredMessage="#{bundle.CreateSmartPhoneRequiredMessage_code}"/>
                    <h:outputLabel value="#{bundle.CreateSmartPhoneLabel_name}" for="name" />
                    <h:inputText id="name" value="#{smartPhoneController.selected.name}" title="#{bundle.CreateSmartPhoneTitle_name}" required="true" requiredMessage="#{bundle.CreateSmartPhoneRequiredMessage_name}"/>
                    <h:outputLabel value="#{bundle.CreateSmartPhoneLabel_status}" for="status" />
                    <h:inputText id="status" value="#{smartPhoneController.selected.status}" title="#{bundle.CreateSmartPhoneTitle_status}" />
                    <h:outputLabel value="#{bundle.CreateSmartPhoneLabel_quantity}" for="quantity" />
                    <h:inputText id="quantity" value="#{smartPhoneController.selected.quantity}" title="#{bundle.CreateSmartPhoneTitle_quantity}" />
                    <h:outputLabel value="#{bundle.CreateSmartPhoneLabel_effectiveDate}" for="effectiveDate" />
                    <h:inputText id="effectiveDate" value="#{smartPhoneController.selected.effectiveDate}" title="#{bundle.CreateSmartPhoneTitle_effectiveDate}" >
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.CreateSmartPhoneLabel_address}" for="address" />
                    <h:inputText id="address" value="#{smartPhoneController.selected.address}" title="#{bundle.CreateSmartPhoneTitle_address}" />
                </h:panelGrid>
                <br />
                <h:commandLink action="#{smartPhoneController.create}" value="#{bundle.CreateSmartPhoneSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{smartPhoneController.prepareList}" value="#{bundle.CreateSmartPhoneShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateSmartPhoneIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
