<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListSmartPhoneTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListSmartPhoneEmpty}" rendered="#{smartPhoneController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{smartPhoneController.items.rowCount > 0}">
                    <h:outputText value="#{smartPhoneController.pagination.pageFirstItem + 1}..#{smartPhoneController.pagination.pageLastItem + 1}/#{smartPhoneController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{smartPhoneController.previous}" value="#{bundle.Previous} #{smartPhoneController.pagination.pageSize}" rendered="#{smartPhoneController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{smartPhoneController.next}" value="#{bundle.Next} #{smartPhoneController.pagination.pageSize}" rendered="#{smartPhoneController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{smartPhoneController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListSmartPhoneTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListSmartPhoneTitle_code}"/>
                            </f:facet>
                            <h:outputText value="#{item.code}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListSmartPhoneTitle_name}"/>
                            </f:facet>
                            <h:outputText value="#{item.name}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListSmartPhoneTitle_status}"/>
                            </f:facet>
                            <h:outputText value="#{item.status}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListSmartPhoneTitle_quantity}"/>
                            </f:facet>
                            <h:outputText value="#{item.quantity}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListSmartPhoneTitle_effectiveDate}"/>
                            </f:facet>
                            <h:outputText value="#{item.effectiveDate}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListSmartPhoneTitle_address}"/>
                            </f:facet>
                            <h:outputText value="#{item.address}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{smartPhoneController.prepareView}" value="#{bundle.ListSmartPhoneViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{smartPhoneController.prepareEdit}" value="#{bundle.ListSmartPhoneEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{smartPhoneController.destroy}" value="#{bundle.ListSmartPhoneDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{smartPhoneController.prepareCreate}" value="#{bundle.ListSmartPhoneCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListSmartPhoneIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
