<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewSmartPhoneTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewSmartPhoneLabel_id}"/>
                    <h:outputText value="#{smartPhoneController.selected.id}" title="#{bundle.ViewSmartPhoneTitle_id}"/>
                    <h:outputText value="#{bundle.ViewSmartPhoneLabel_code}"/>
                    <h:outputText value="#{smartPhoneController.selected.code}" title="#{bundle.ViewSmartPhoneTitle_code}"/>
                    <h:outputText value="#{bundle.ViewSmartPhoneLabel_name}"/>
                    <h:outputText value="#{smartPhoneController.selected.name}" title="#{bundle.ViewSmartPhoneTitle_name}"/>
                    <h:outputText value="#{bundle.ViewSmartPhoneLabel_status}"/>
                    <h:outputText value="#{smartPhoneController.selected.status}" title="#{bundle.ViewSmartPhoneTitle_status}"/>
                    <h:outputText value="#{bundle.ViewSmartPhoneLabel_quantity}"/>
                    <h:outputText value="#{smartPhoneController.selected.quantity}" title="#{bundle.ViewSmartPhoneTitle_quantity}"/>
                    <h:outputText value="#{bundle.ViewSmartPhoneLabel_effectiveDate}"/>
                    <h:outputText value="#{smartPhoneController.selected.effectiveDate}" title="#{bundle.ViewSmartPhoneTitle_effectiveDate}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewSmartPhoneLabel_address}"/>
                    <h:outputText value="#{smartPhoneController.selected.address}" title="#{bundle.ViewSmartPhoneTitle_address}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{smartPhoneController.destroyAndView}" value="#{bundle.ViewSmartPhoneDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewSmartPhoneEditLink}"/>
                <br />
                <h:commandLink action="#{smartPhoneController.prepareCreate}" value="#{bundle.ViewSmartPhoneCreateLink}" />
                <br />
                <h:commandLink action="#{smartPhoneController.prepareList}" value="#{bundle.ViewSmartPhoneShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewSmartPhoneIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
