<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateRoleDBTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateRoleDBLabel_id}" for="id" />
                    <h:inputText id="id" value="#{roleDBController.selected.id}" title="#{bundle.CreateRoleDBTitle_id}" />
                    <h:outputLabel value="#{bundle.CreateRoleDBLabel_role}" for="role" />
                    <h:inputText id="role" value="#{roleDBController.selected.role}" title="#{bundle.CreateRoleDBTitle_role}" />
                    <h:outputLabel value="#{bundle.CreateRoleDBLabel_accessfunction}" for="accessfunction" />
                    <h:inputText id="accessfunction" value="#{roleDBController.selected.accessfunction}" title="#{bundle.CreateRoleDBTitle_accessfunction}" />
                </h:panelGrid>
                <br />
                <h:commandLink action="#{roleDBController.create}" value="#{bundle.CreateRoleDBSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{roleDBController.prepareList}" value="#{bundle.CreateRoleDBShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateRoleDBIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
