<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListRoleDBTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListRoleDBEmpty}" rendered="#{roleDBController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{roleDBController.items.rowCount > 0}">
                    <h:outputText value="#{roleDBController.pagination.pageFirstItem + 1}..#{roleDBController.pagination.pageLastItem + 1}/#{roleDBController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{roleDBController.previous}" value="#{bundle.Previous} #{roleDBController.pagination.pageSize}" rendered="#{roleDBController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{roleDBController.next}" value="#{bundle.Next} #{roleDBController.pagination.pageSize}" rendered="#{roleDBController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{roleDBController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRoleDBTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRoleDBTitle_role}"/>
                            </f:facet>
                            <h:outputText value="#{item.role}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRoleDBTitle_accessfunction}"/>
                            </f:facet>
                            <h:outputText value="#{item.accessfunction}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{roleDBController.prepareView}" value="#{bundle.ListRoleDBViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{roleDBController.prepareEdit}" value="#{bundle.ListRoleDBEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{roleDBController.destroy}" value="#{bundle.ListRoleDBDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{roleDBController.prepareCreate}" value="#{bundle.ListRoleDBCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListRoleDBIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
