<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewRoleDBTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewRoleDBLabel_id}"/>
                    <h:outputText value="#{roleDBController.selected.id}" title="#{bundle.ViewRoleDBTitle_id}"/>
                    <h:outputText value="#{bundle.ViewRoleDBLabel_role}"/>
                    <h:outputText value="#{roleDBController.selected.role}" title="#{bundle.ViewRoleDBTitle_role}"/>
                    <h:outputText value="#{bundle.ViewRoleDBLabel_accessfunction}"/>
                    <h:outputText value="#{roleDBController.selected.accessfunction}" title="#{bundle.ViewRoleDBTitle_accessfunction}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{roleDBController.destroyAndView}" value="#{bundle.ViewRoleDBDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewRoleDBEditLink}"/>
                <br />
                <h:commandLink action="#{roleDBController.prepareCreate}" value="#{bundle.ViewRoleDBCreateLink}" />
                <br />
                <h:commandLink action="#{roleDBController.prepareList}" value="#{bundle.ViewRoleDBShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewRoleDBIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
