<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<h:body>

	<ui:composition template="resources/components/templates/layout.xhtml">

		<ui:define name="navigation">
			<h:form>
				<h:panelGrid>
					<h:link value="Login" outcome="resources/components/login" />
				</h:panelGrid>
			</h:form>
		</ui:define>

		<ui:define name="content" align="center">

			<p>
				<b>Welcome to NEPHRON+</b>
			</p>
			NEPHRON+ will provide a major leap forward in Renal Care:<br />
			<ul>
				<li>It is a next generation, integrated solution for
					personalized treatment and management of patients with chronic
					renal failure.</li>
				<li>It presents an ideal solution for continuous dialysis
					outside the hospital offering better blood clearance, while
					patients can stay mobile and active in social and economic life.</li>
				<li>It relies on an ICT-enabled wearable artificial kidney for
					on-body blood purification.</li>
			</ul>
		</ui:define>

		<ui:define name="calendar" />

	</ui:composition>

</h:body>

</html>