<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateHL7connectionsTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateHL7connectionsLabel_id}" for="id" />
                    <h:inputText id="id" value="#{hL7connectionsController.selected.id}" title="#{bundle.CreateHL7connectionsTitle_id}" />
                    <h:outputLabel value="#{bundle.CreateHL7connectionsLabel_idcontact}" for="idcontact" />
                    <h:inputText id="idcontact" value="#{hL7connectionsController.selected.idcontact}" title="#{bundle.CreateHL7connectionsTitle_idcontact}" />
                    <h:outputLabel value="#{bundle.CreateHL7connectionsLabel_idpersonnal}" for="idpersonnal" />
                    <h:inputText id="idpersonnal" value="#{hL7connectionsController.selected.idpersonnal}" title="#{bundle.CreateHL7connectionsTitle_idpersonnal}" />
                    <h:outputLabel value="#{bundle.CreateHL7connectionsLabel_idaddress}" for="idaddress" />
                    <h:inputText id="idaddress" value="#{hL7connectionsController.selected.idaddress}" title="#{bundle.CreateHL7connectionsTitle_idaddress}" />
                    <h:outputLabel value="#{bundle.CreateHL7connectionsLabel_idhl7}" for="idhl7" />
                    <h:inputText id="idhl7" value="#{hL7connectionsController.selected.idhl7}" title="#{bundle.CreateHL7connectionsTitle_idhl7}" />
                </h:panelGrid>
                <br />
                <h:commandLink action="#{hL7connectionsController.create}" value="#{bundle.CreateHL7connectionsSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{hL7connectionsController.prepareList}" value="#{bundle.CreateHL7connectionsShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateHL7connectionsIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
