<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListHL7connectionsTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListHL7connectionsEmpty}" rendered="#{hL7connectionsController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{hL7connectionsController.items.rowCount > 0}">
                    <h:outputText value="#{hL7connectionsController.pagination.pageFirstItem + 1}..#{hL7connectionsController.pagination.pageLastItem + 1}/#{hL7connectionsController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{hL7connectionsController.previous}" value="#{bundle.Previous} #{hL7connectionsController.pagination.pageSize}" rendered="#{hL7connectionsController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{hL7connectionsController.next}" value="#{bundle.Next} #{hL7connectionsController.pagination.pageSize}" rendered="#{hL7connectionsController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{hL7connectionsController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListHL7connectionsTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListHL7connectionsTitle_idcontact}"/>
                            </f:facet>
                            <h:outputText value="#{item.idcontact}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListHL7connectionsTitle_idpersonnal}"/>
                            </f:facet>
                            <h:outputText value="#{item.idpersonnal}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListHL7connectionsTitle_idaddress}"/>
                            </f:facet>
                            <h:outputText value="#{item.idaddress}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListHL7connectionsTitle_idhl7}"/>
                            </f:facet>
                            <h:outputText value="#{item.idhl7}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{hL7connectionsController.prepareView}" value="#{bundle.ListHL7connectionsViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{hL7connectionsController.prepareEdit}" value="#{bundle.ListHL7connectionsEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{hL7connectionsController.destroy}" value="#{bundle.ListHL7connectionsDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{hL7connectionsController.prepareCreate}" value="#{bundle.ListHL7connectionsCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListHL7connectionsIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
