<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewHL7connectionsTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewHL7connectionsLabel_id}"/>
                    <h:outputText value="#{hL7connectionsController.selected.id}" title="#{bundle.ViewHL7connectionsTitle_id}"/>
                    <h:outputText value="#{bundle.ViewHL7connectionsLabel_idcontact}"/>
                    <h:outputText value="#{hL7connectionsController.selected.idcontact}" title="#{bundle.ViewHL7connectionsTitle_idcontact}"/>
                    <h:outputText value="#{bundle.ViewHL7connectionsLabel_idpersonnal}"/>
                    <h:outputText value="#{hL7connectionsController.selected.idpersonnal}" title="#{bundle.ViewHL7connectionsTitle_idpersonnal}"/>
                    <h:outputText value="#{bundle.ViewHL7connectionsLabel_idaddress}"/>
                    <h:outputText value="#{hL7connectionsController.selected.idaddress}" title="#{bundle.ViewHL7connectionsTitle_idaddress}"/>
                    <h:outputText value="#{bundle.ViewHL7connectionsLabel_idhl7}"/>
                    <h:outputText value="#{hL7connectionsController.selected.idhl7}" title="#{bundle.ViewHL7connectionsTitle_idhl7}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{hL7connectionsController.destroyAndView}" value="#{bundle.ViewHL7connectionsDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewHL7connectionsEditLink}"/>
                <br />
                <h:commandLink action="#{hL7connectionsController.prepareCreate}" value="#{bundle.ViewHL7connectionsCreateLink}" />
                <br />
                <h:commandLink action="#{hL7connectionsController.prepareList}" value="#{bundle.ViewHL7connectionsShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewHL7connectionsIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
