<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
	<h:outputStylesheet library="css" name="nephron.css" target="head"/>
	<h:outputScript library="javascript" name="nephron.js" target="head" />
</h:head>

<h:body>

	<div id="page">

		<div id="header" class="header">
			<ui:insert name="header">
				<ui:include src="header.xhtml" />
			</ui:insert>
		</div>

		<div id="leftcol" class="leftcol">
			<ui:insert name="navigation">
				<ui:include src="navigation.xhtml" />
			</ui:insert>
		</div>
		
		<div id="content" class="content">
			<ui:insert name="content">
				<ui:include src="content.xhtml" />
			</ui:insert>
		</div>
		
		<div id="rightcol" class="rightcol">
			<ui:insert name="calendar">
				<ui:include src="calendar.xhtml" />
			</ui:insert>
		</div>

		<div id="footer" class="footer">
			<ui:insert name="footer">
				<ui:include src="footer.xhtml" />
			</ui:insert>
		</div>

	</div>

</h:body>
	
</html>