body {
	margin: 0px;
	padding: 0px;
	font-family: "Trebuchet MS";
}

#header {
	top: 0px;
	height: 100px;
	background: #65CCCC;
	width: 100%;
	text-align: center;
}

#leftcol {
	background: #CD2860;
	float: left;
	width: 20%;
	height: 500px;
	left: 30px;
}

#rightcol {
	background: #CD2860;
	float: right;
	width: 20%;
	height: 500px;
}

#content {
	background: #fff;
	float: left;
	width: 59%;
	height: 500px;
}

#footer {
	background: #65CCCC;
	clear: both;
	width: 100%;
	text-align: center;
}