<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditPersonTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditPersonLabel_gender}" for="gender" />
                    <h:inputText id="gender" value="#{personController.selected.gender}" title="#{bundle.EditPersonTitle_gender}" />
                    <h:outputLabel value="#{bundle.EditPersonLabel_birthDate}" for="birthDate" />
                    <h:inputText id="birthDate" value="#{personController.selected.birthDate}" title="#{bundle.EditPersonTitle_birthDate}" >
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditPersonLabel_personalInfo}" for="personalInfo" />
                    <h:inputText id="personalInfo" value="#{personController.selected.personalInfo}" title="#{bundle.EditPersonTitle_personalInfo}" />
                    <h:outputLabel value="#{bundle.EditPersonLabel_contactInfo}" for="contactInfo" />
                    <h:inputText id="contactInfo" value="#{personController.selected.contactInfo}" title="#{bundle.EditPersonTitle_contactInfo}" />
                    <h:outputLabel value="#{bundle.EditPersonLabel_address}" for="address" />
                    <h:inputText id="address" value="#{personController.selected.address}" title="#{bundle.EditPersonTitle_address}" />
                    <h:outputLabel value="#{bundle.EditPersonLabel_id}" for="id" />
                    <h:inputText id="id" value="#{personController.selected.id}" title="#{bundle.EditPersonTitle_id}" />
                    <h:outputLabel value="#{bundle.EditPersonLabel_code}" for="code" />
                    <h:inputText id="code" value="#{personController.selected.code}" title="#{bundle.EditPersonTitle_code}" />
                    <h:outputLabel value="#{bundle.EditPersonLabel_name}" for="name" />
                    <h:inputText id="name" value="#{personController.selected.name}" title="#{bundle.EditPersonTitle_name}" required="true" requiredMessage="#{bundle.EditPersonRequiredMessage_name}"/>
                    <h:outputLabel value="#{bundle.EditPersonLabel_quantity}" for="quantity" />
                    <h:inputText id="quantity" value="#{personController.selected.quantity}" title="#{bundle.EditPersonTitle_quantity}" />
                    <h:outputLabel value="#{bundle.EditPersonLabel_effectiveDate}" for="effectiveDate" />
                    <h:inputText id="effectiveDate" value="#{personController.selected.effectiveDate}" title="#{bundle.EditPersonTitle_effectiveDate}" >
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditPersonLabel_role}" for="role" />
                    <h:selectOneMenu id="role" value="#{personController.selected.role}" title="#{bundle.EditPersonTitle_role}" required="true" requiredMessage="#{bundle.EditPersonRequiredMessage_role}">
                        <f:selectItems value="#{roleController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{personController.update}" value="#{bundle.EditPersonSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditPersonViewLink}"/>
                <br />
                <h:commandLink action="#{personController.prepareList}" value="#{bundle.EditPersonShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditPersonIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
