<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewPersonTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewPersonLabel_gender}"/>
                    <h:outputText value="#{personController.selected.gender}" title="#{bundle.ViewPersonTitle_gender}"/>
                    <h:outputText value="#{bundle.ViewPersonLabel_birthDate}"/>
                    <h:outputText value="#{personController.selected.birthDate}" title="#{bundle.ViewPersonTitle_birthDate}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewPersonLabel_personalInfo}"/>
                    <h:outputText value="#{personController.selected.personalInfo}" title="#{bundle.ViewPersonTitle_personalInfo}"/>
                    <h:outputText value="#{bundle.ViewPersonLabel_contactInfo}"/>
                    <h:outputText value="#{personController.selected.contactInfo}" title="#{bundle.ViewPersonTitle_contactInfo}"/>
                    <h:outputText value="#{bundle.ViewPersonLabel_address}"/>
                    <h:outputText value="#{personController.selected.address}" title="#{bundle.ViewPersonTitle_address}"/>
                    <h:outputText value="#{bundle.ViewPersonLabel_id}"/>
                    <h:outputText value="#{personController.selected.id}" title="#{bundle.ViewPersonTitle_id}"/>
                    <h:outputText value="#{bundle.ViewPersonLabel_code}"/>
                    <h:outputText value="#{personController.selected.code}" title="#{bundle.ViewPersonTitle_code}"/>
                    <h:outputText value="#{bundle.ViewPersonLabel_name}"/>
                    <h:outputText value="#{personController.selected.name}" title="#{bundle.ViewPersonTitle_name}"/>
                    <h:outputText value="#{bundle.ViewPersonLabel_quantity}"/>
                    <h:outputText value="#{personController.selected.quantity}" title="#{bundle.ViewPersonTitle_quantity}"/>
                    <h:outputText value="#{bundle.ViewPersonLabel_effectiveDate}"/>
                    <h:outputText value="#{personController.selected.effectiveDate}" title="#{bundle.ViewPersonTitle_effectiveDate}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewPersonLabel_role}"/>
                    <h:outputText value="#{personController.selected.role}" title="#{bundle.ViewPersonTitle_role}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{personController.destroyAndView}" value="#{bundle.ViewPersonDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewPersonEditLink}"/>
                <br />
                <h:commandLink action="#{personController.prepareCreate}" value="#{bundle.ViewPersonCreateLink}" />
                <br />
                <h:commandLink action="#{personController.prepareList}" value="#{bundle.ViewPersonShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewPersonIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
