<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"

      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>Nephron DashBoard</title>
                <link href="wel/template-2012/stylesheets/ec.css" media="all" rel="stylesheet" type="text/css"/>
                <h:outputStylesheet library="css" name="wel/template-2012/stylesheets/ec.css"  />
                <link href="stylesheets/esponder.css" media="all" rel="stylesheet" type="text/css"/>
                <h:outputStylesheet library="css" name="stylesheets/esponder.css"  />
            </f:facet>

            <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript" ></script>

        </h:head>

        <h:body>
            <p:ajaxStatus onstart="statusDialog.show();" onsuccess="statusDialog.hide();"/>  

            <p:dialog modal="true" widgetVar="statusDialog" header="Status"   
                      draggable="false" closable="false">  
                <p:graphicImage value="images/ajax-loader.gif" />  
            </p:dialog>

            <h:form id="form"> 
                <f:metadata>  
                    <f:viewParam name="userID" value="#{tableBean.useridforedit}" />  

                </f:metadata>
                <p:layout fullPage="true">

                    <p:layoutUnit position="north" size="80" resizable="true" closable="true" collapsible="true">
                        <ui:include src="header.xhtml"></ui:include>

                    </p:layoutUnit>

                    <p:layoutUnit position="south" size="40" resizable="false"  closable="false" collapsible="false">
                        <div class="layout-footer"> Copyright @2013 Nephron
                        </div>

                    </p:layoutUnit>

                    <p:layoutUnit position="west" size="175" header="Menu" collapsible="true">
                        <ui:include src="menu.xhtml"></ui:include>

                    </p:layoutUnit>

                    <p:layoutUnit position="center">

                        <p:panel id="panel" header="Alerts Filter" style="margin-bottom:10px;">  
                            <p:panelGrid columns="7">
                                <h:outputLabel for="datefrom" value="Date From : " />
                                <p:calendar value="#{basicApplicationBean.dateFromM}"  id="datefrom" showOn="button" style="width:270px" pattern="MM/dd/yyyy HH:mm"/>
                                <h:outputLabel for="dateto" value="Date To : " />
                                <p:calendar value="#{basicApplicationBean.dateToM}"  id="dateto" showOn="button" style="width:270px" pattern="MM/dd/yyyy HH:mm"/>
                                <p:commandButton value="Refresh" update="panel2234567,alertTable" id="ajax"  
                                                 actionListener="#{basicApplicationBean.UpdateRecords}" styleClass="ui-priority-primary"/>
                            </p:panelGrid>
                        </p:panel>

                        <p:panel id="panel2234567" header="Alerts" style="margin-bottom:10px;"> 
                            <p:dataTable var="patientdss" value="#{basicApplicationBean.sumups2}"  paginator="true" rows="10"  
                                         id="alertTable">  



                                <f:facet name="header">  
                                    WAKD Alerts
                                </f:facet>  

                                <p:column headerText="ID" id="dsspid" style="text-align:center">  
                                    #{patientdss.id}  
                                </p:column>  

                                <p:column headerText="Patient"  id="dsspfname" style="text-align:center">  
                                    #{patientdss.ruleresults}  
                                </p:column>  

                                <p:column headerText="Check"  id="dsspfaname" style="text-align:center">  
                                    #{patientdss.rulename}  
                                </p:column>  

                                <p:column headerText="Message"  id="dssplname" style="text-align:center">  
                                    #{patientdss.ruleresults1}  
                                </p:column>  
                                <p:column headerText="Date"  id="dssplname22Date" style="text-align:center">  
                                    #{patientdss.ruleresults2}  
                                </p:column>  





                            </p:dataTable>  

                        </p:panel> 

                        <h:panelGrid columns="2">  
                            <p:panel header="Export All Data">  
                                <h:commandLink>  
                                    <p:graphicImage value="/images/excel.png" />  
                                    <p:dataExporter type="xls" target="alertTable" fileName="alertTable" />  
                                </h:commandLink>  

                                <h:commandLink>  
                                    <p:graphicImage value="/images/pdf.png" />  
                                    <p:dataExporter type="pdf" target="alertTable" fileName="alertTable"/>  
                                </h:commandLink>  

                                <h:commandLink>  
                                    <p:graphicImage value="/images/csv.png" />  
                                    <p:dataExporter type="csv" target="alertTable" fileName="alertTable" />  
                                </h:commandLink>  

                                <h:commandLink>  
                                    <p:graphicImage value="/images/xml.png" />  
                                    <p:dataExporter type="xml" target="alertTable" fileName="alertTable" />  
                                </h:commandLink>  
                            </p:panel>  

                            <p:panel header="Export Page Data">  
                                <h:commandLink>  
                                    <p:graphicImage value="/images/excel.png" />  
                                    <p:dataExporter type="xls" target="alertTable" fileName="alertTable" pageOnly="true"/>  
                                </h:commandLink>  

                                <h:commandLink>  
                                    <p:graphicImage value="/images/pdf.png" />  
                                    <p:dataExporter type="pdf" target="alertTable" fileName="alertTable" pageOnly="true"/>  
                                </h:commandLink>  

                                <h:commandLink>  
                                    <p:graphicImage value="/images/csv.png" />  
                                    <p:dataExporter type="csv" target="alertTable" fileName="alertTable" pageOnly="true"/>  
                                </h:commandLink>  

                                <h:commandLink>  
                                    <p:graphicImage value="/images/xml.png" />  
                                    <p:dataExporter type="xml" target="alertTable" fileName="alertTable" pageOnly="true"/>  
                                </h:commandLink>  
                            </p:panel>  
                        </h:panelGrid>  

                    </p:layoutUnit>

                </p:layout>
            </h:form>
        </h:body>

    </f:view>
</html>
