<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"

      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>Nephron DashBoard</title>
                <link href="wel/template-2012/stylesheets/ec.css" media="all" rel="stylesheet" type="text/css"/>
                <h:outputStylesheet library="css" name="wel/template-2012/stylesheets/ec.css"  />
                <link href="stylesheets/esponder.css" media="all" rel="stylesheet" type="text/css"/>
                <h:outputStylesheet library="css" name="stylesheets/esponder.css"  />
            </f:facet>

            <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript" ></script>

            <style>  
                .ui-timeline-axis {  
                    background-color: #5D99C3;  
                    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5D99C3', endColorstr='#3A6DA0'); /* for IE */  
                    background: -webkit-gradient(linear, left top, left bottom, from(#5D99C3), to(#3A6DA0)); /* for webkit browsers */  
                    background: -moz-linear-gradient(top,  #5D99C3,  #3A6DA0); /* for firefox 3.6+ */  
                }  
                .ui-timeline-axis-text {  
                    color: white !important;  
                }  
                .ui-timeline-event {  
                    color: lightgrey !important;  
                    border-radius: 5px;  
                }  
                .ui-timeline-event-content {  
                    padding: 5px;  
                }  
                .green{  
                    background-image: none !important;  
                    background-color: green !important;  
                }  
                .red{  
                    background-image: none !important;  
                    background-color: red !important;  
                }  

                .blue{  
                    background-image: none !important;  
                    background-color: blue !important;  
                }  
            </style>  

        </h:head>

        <h:body>
            <p:ajaxStatus onstart="statusDialog.show();" onsuccess="statusDialog.hide();"/>  

            <p:dialog modal="true" widgetVar="statusDialog" header="Status"   
                      draggable="false" closable="false">  
                <p:graphicImage value="images/ajax-loader.gif" />  
            </p:dialog>

            <h:form id="form"> 
                <f:metadata>  
                    <f:viewParam name="userID" value="#{tableBean.useridforedit}" />  

                </f:metadata>
                <p:layout fullPage="true">

                    <p:layoutUnit position="north" size="80" resizable="true" closable="true" collapsible="true">
                        <ui:include src="header.xhtml"></ui:include>

                    </p:layoutUnit>

                    <p:layoutUnit position="south" size="40" resizable="false"  closable="false" collapsible="false">
                        <div class="layout-footer"> Copyright @2013 Nephron
                        </div>

                    </p:layoutUnit>

                    <p:layoutUnit position="west" size="175" header="Menu" collapsible="true">
                        <ui:include src="menu.xhtml"></ui:include>

                    </p:layoutUnit>

                    <p:layoutUnit position="center">


                        <p:tabView >  

                            <p:tab title="Personal Details">  
                                <h:panelGrid columns="2" id="pdetails29383919238">  
                                    <h:outputLabel  value="Title : " />  
                                    <h:outputLabel  value="#{personalDetails.title}"/>  

                                    <h:outputLabel  value="First Name : " />  
                                    <h:outputLabel  value="#{personalDetails.firstname}"/>  



                                    <h:outputLabel  value="Middle Name : " />  
                                    <h:outputLabel  value="#{personalDetails.middlename}"/>  

                                    <h:outputLabel  value="LastName : " />  
                                    <h:outputLabel  value="#{personalDetails.lastname}"/>  

                                    <h:outputLabel  value="Father Name : " />  
                                    <h:outputLabel  value="#{personalDetails.fathername}"/>  

                                    <h:outputLabel  value="Education Level : " />  
                                    <h:outputLabel  value="#{personalDetails.patienteducationlevel}"/>  

                                    <h:outputLabel  value="Marital Status : " />  
                                    <h:outputLabel  value="#{personalDetails.patientmaritalstatus}"/>  

                                    <h:outputLabel  value="Email : " />  
                                    <h:outputLabel  value="#{personalDetails.email}"/>  
                                    <h:outputLabel  value="Mobile : " />  
                                    <h:outputLabel  value="#{personalDetails.mobile}"/>  
                                    <h:outputLabel  value="Phone : " />  
                                    <h:outputLabel  value="#{personalDetails.phone}"/>  
                                    <h:outputLabel  value="Street : " />  
                                    <h:outputLabel  value="#{personalDetails.street}"/>  
                                    <h:outputLabel  value="Street No : " />  
                                    <h:outputLabel  value="#{personalDetails.streetno}"/>  
                                    <h:outputLabel  value="Postcode : " />  
                                    <h:outputLabel  value="#{personalDetails.postcode}"/>  
                                    <h:outputLabel  value="City : " />  
                                    <h:outputLabel  value="#{personalDetails.city}"/>  
                                </h:panelGrid>
                            </p:tab>  

                            <p:tab title="TimeLine">  


                                <p:fieldset>  
                                    <h:panelGrid columns="6"  
                                                 columnClasses="formColumn1,formColumn2,formColumn1,formColumn2">  
                                        <h:outputLabel value="Axis Position"/>  
                                        <p:selectOneButton id="axisPosition"  
                                                           value="#{customEventsController.axisPosition}">  
                                            <f:selectItem itemLabel="Bottom" itemValue="bottom"/>  
                                            <f:selectItem itemLabel="Top" itemValue="top"/>  
                                            <p:ajax event="change" process="@this" update="timeline"/>  
                                        </p:selectOneButton>  
                                        <h:outputLabel value="Event Style"/>  
                                        <p:selectOneButton id="eventStyle"  
                                                           value="#{customEventsController.eventStyle}">  
                                            <f:selectItem itemLabel="Dot" itemValue="dot"/>  
                                            <f:selectItem itemLabel="Box" itemValue="box"/>  
                                            <p:ajax event="change" process="@this" update="timeline"/>  
                                        </p:selectOneButton>  
                                        <h:outputLabel value="Show Navigation"/>  
                                        <p:selectBooleanButton id="navigation" onLabel="Yes" offLabel="No"  
                                                               value="#{customEventsController.showNavigation}">  
                                            <p:ajax event="change" process="@this" update="timeline"/>  
                                        </p:selectBooleanButton>  
                                    </h:panelGrid>  
                                </p:fieldset>  

                                <p:spacer width="100%" height="10"/>  


                                <pe:timeline id="timeline" value="#{customEventsController.timelines}"

                                             var="event"
                                             axisPosition="#{customEventsController.axisPosition}"  
                                             showNavigation="#{customEventsController.showNavigation}"  
                                             eventStyle="#{customEventsController.eventStyle}"
                                             height="400px" width="100%">
                                    <p:ajax event="eventSelect" listener="#{customEventsController.onEventSelect}" process="@this"
                                            update="viewDialog" oncomplete="viewDlg.show()"/>
                                    <h:panelGroup layout="block">
                                        <h:outputText value="#{event.startDate}">
                                            <f:convertDateTime pattern="dd MMM yyyy"/>
                                        </h:outputText>
                                        <br/>
                                        <h:outputText value="#{event.title}"/>
                                    </h:panelGroup>
                                </pe:timeline>

                                <p:dialog id="viewDialog" modal="true" dynamic="true" widgetVar="viewDlg"
                                          appendToBody="true" resizable="false" header="Event Details" width="350">
                                    <p:fieldset>
                                        <h:panelGrid columns="2" columnClasses="formColumn1,formColumn2">
                                            <h:outputText value="Date:"/>
                                            <h:outputText value="#{customEventsController.selectedEvent.startDate}">
                                                <f:convertDateTime pattern="dd MMM yyyy"/>
                                            </h:outputText>
                                            <h:outputText value="Title:"/>
                                            <h:outputText value="#{customEventsController.selectedEvent.title}"/>
                                        </h:panelGrid>
                                    </p:fieldset>
                                    <h:panelGroup layout="block" style="width:100%; text-align: center;padding: 5px;">
                                        <p:commandButton id="close" value="Close" type="button" onclick="viewDlg.hide()"/>
                                    </h:panelGroup>
                                </p:dialog>

                            </p:tab>  

                            <p:tab title="Graphs">  

                                <p:tabView effect="#{tabBean.effect}" effectDuration="normal">  

                                    <p:tab title="All In One">  


                                        <h:panelGrid columns="2" id="graphs">  
                                            <p:lineChart value="#{chartBean.linearModel}" legendPosition="e" zoom="true" animate="true"  
                                                         title="Line Chart" minY="0" maxY="170" style="width:500px;" widgetVar="chart"/>  

                                            <p:barChart id="basic" value="#{chartBean.categoryModel}" legendPosition="ne"  
                                                        title="Bar Chart" min="0" max="170" style="width:500px" animate="true"/>  
                                        </h:panelGrid>  

                                    </p:tab>  
                                    <p:tab title="Seperate">  
                                        <h:panelGrid columns="1" id="graphs2">  
                                            <p:lineChart value="#{chartBean.linearModelsodium}" legendPosition="e" zoom="true" animate="true"  
                                                         title="Sodium Chart" minY="0" maxY="170" style="width:800px;" widgetVar="chart2"/>  

                                            <p:lineChart value="#{chartBean.linearModelpotasium}" legendPosition="e" zoom="true" animate="true"  
                                                         title="Potasium Chart" minY="0" maxY="170" style="width:800px;" widgetVar="chart3"/>  

                                            <p:lineChart value="#{chartBean.linearModelurea}" legendPosition="e" zoom="true" animate="true"  
                                                         title="Urea Chart" minY="0" maxY="170" style="width:800px;" widgetVar="chart4"/>  
                                            <p:lineChart value="#{chartBean.linearModelph}" legendPosition="e" zoom="true" animate="true"  
                                                         title="PH Chart" minY="0" maxY="170" style="width:800px;" widgetVar="chart5"/>  
                                        </h:panelGrid>                                          
                                    </p:tab>  
                                </p:tabView>
                            </p:tab>  

                            <p:tab title="History">  
                                <p:dataTable var="patientdss" value="#{patientTableBeanSumup.sumups}"  paginator="true" rows="10"  
                                             id="patientsdssTable">  



                                    <f:facet name="header">  
                                        Summary  
                                    </f:facet>  

                                    <p:column headerText="ID" id="dsspid" style="text-align:center">  
                                        #{patientdss.id}  
                                    </p:column>  

                                    <p:column headerText="Patient"  id="dsspfname" style="text-align:center">  
                                        #{patientdss.ruleresults}  
                                    </p:column>  

                                    <p:column headerText="Check"  id="dsspfaname" style="text-align:center">  
                                        #{patientdss.rulename}  
                                    </p:column>  

                                    <p:column headerText="Message"  id="dssplname" style="text-align:center">  
                                        #{patientdss.ruleresults1}  
                                    </p:column>  

                                    <p:column headerText="Date"  id="dssplname22Datexxxx" style="text-align:center">  
                                        #{patientdss.ruleresults2}  
                                    </p:column> 




                                </p:dataTable>  

                            </p:tab>  


                        </p:tabView> 

                    </p:layoutUnit>

                </p:layout>
            </h:form>
        </h:body>

    </f:view>
</html>
