<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"

      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>Nephron DashBoard</title>
                <link href="wel/template-2012/stylesheets/ec.css" media="all" rel="stylesheet" type="text/css"/>
                <h:outputStylesheet library="css" name="wel/template-2012/stylesheets/ec.css"  />
                <link href="stylesheets/esponder.css" media="all" rel="stylesheet" type="text/css"/>
                <h:outputStylesheet library="css" name="stylesheets/esponder.css"  />
            </f:facet>

            <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript" ></script>

        </h:head>

        <h:body>

            <p:ajaxStatus onstart="statusDialog.show();" onsuccess="statusDialog.hide();"/>  

            <p:dialog modal="true" widgetVar="statusDialog" header="Status"   
                      draggable="false" closable="false">  
                <p:graphicImage value="images/ajax-loader.gif" />  
            </p:dialog>


            <h:form id="form"> 
                <f:metadata>  
                    <f:viewParam name="userID" value="#{tableBean.useridforedit}" />  

                </f:metadata>
                <p:layout fullPage="true">

                    <p:layoutUnit position="north" size="80" resizable="true" closable="true" collapsible="true">
                        <ui:include src="header.xhtml"></ui:include>

                    </p:layoutUnit>

                    <p:layoutUnit position="south" size="40" resizable="false"  closable="false" collapsible="false">
                        <div class="layout-footer"> Copyright @2013 Nephron
                        </div>

                    </p:layoutUnit>

                    <p:layoutUnit position="center" align="center">





                        <p:tabView >  

                            <p:tab title="Summary" align="center">  

                                <p:dataTable var="patientdss" value="#{tableBeanSumup.sumups}"  paginator="true" rows="10"  
                                             id="patientsdssTable">  



                                    <f:facet name="header">  
                                        Summary  
                                    </f:facet>  

                                    <p:column headerText="ID" id="dsspid" style="text-align:center">  
                                        #{patientdss.id}  
                                    </p:column>  

                                    <p:column headerText="Patient"  id="dsspfname" style="text-align:center">  
                                        #{patientdss.ruleresults}  
                                    </p:column>  

                                    <p:column headerText="Check"  id="dsspfaname" style="text-align:center">  
                                        #{patientdss.rulename}  
                                    </p:column>  

                                    <p:column headerText="Message"  id="dssplname" style="text-align:center">  
                                        #{patientdss.ruleresults1}  
                                    </p:column>  
                                    <p:column headerText="Date"  id="dssplname22Date" style="text-align:center">  
                                        #{patientdss.ruleresults2}  
                                    </p:column>  





                                </p:dataTable>  

                            </p:tab>  
                            <p:tab title="Patients" align="center">  


                                <p:dataTable var="patient" value="#{tableBean.patients}" rowKey="#{patient.id}" paginator="true" rows="10"  
                                             selection="#{tableBean.selectedPatient}" selectionMode="single" filteredValue="#{tableBean.filteredPatient}" id="patientsTable">  



                                    <f:facet name="header">  
                                        List of Patients  
                                    </f:facet>  

                                    <p:column headerText="ID" sortBy="#{patient.id}" filterBy="#{patient.id}" id="pid" style="text-align:center">  
                                        #{patient.id}  
                                    </p:column>  

                                    <p:column headerText="First Name" sortBy="#{patient.firstName}" filterBy="#{patient.firstName}" id="pfname" style="text-align:center">  
                                        #{patient.firstName}  
                                    </p:column>  

                                    <p:column headerText="Fathers Name" sortBy="#{patient.fatherName}" filterBy="#{patient.fatherName}" id="pfathername" style="text-align:center">  
                                        #{patient.fatherName}  
                                    </p:column>  

                                    <p:column headerText="Last Name" sortBy="#{patient.lastName}" filterBy="#{patient.lastName}" id="plname" style="text-align:center">  
                                        #{patient.lastName}  
                                    </p:column>  



                                    <p:column headerText="Actions" >  
                                        <p:commandButton id="editusers" value="View" 
                                                         action="#{tableBean.edituser()}"

                                                         type="submit"
                                                         >

                                            <f:param name="userID" value="#{patient.id}" />

                                        </p:commandButton>
                                    </p:column>  



                                </p:dataTable>  



                            </p:tab>  
                            <p:tab title="Schedules" align="center">  
                                <p:growl id="messages" showDetail="true" />  

                                <p:schedule value="#{scheduleController.eventModel}" style="width:750px" widgetVar="myschedule" align="center">  

                                    <p:ajax event="dateSelect" listener="#{scheduleController.onDateSelect}" update="eventDetails" oncomplete="eventDialog.show()" />  
                                    <p:ajax event="eventSelect" listener="#{scheduleController.onEventSelect}" update="eventDetails" oncomplete="eventDialog.show()" />  
                                    <p:ajax event="eventMove" listener="#{scheduleController.onEventMove}" update="messages" />  
                                    <p:ajax event="eventResize" listener="#{scheduleController.onEventResize}" update="messages" />  

                                </p:schedule>  

                                <p:dialog widgetVar="eventDialog" header="Event Details" showEffect="clip" hideEffect="clip">  
                                    <h:panelGrid id="eventDetails" columns="2">  
                                        <h:outputLabel for="title" value="Title:" />  
                                        <p:inputText id="title" value="#{scheduleController.event.title}" />  

                                        <h:outputLabel for="from" value="From:" />  
                                        <p:calendar id="from" value="#{scheduleController.event.startDate}" pattern="dd/MM/yyyy" />


                                        <h:outputLabel for="to" value="To:" />  
                                        <p:calendar id="to" value="#{scheduleController.event.endDate}" pattern="dd/MM/yyyy" />


                                        <h:outputLabel for="allDay" value="All Day:" />  
                                        <h:selectBooleanCheckbox id="allDay" value="#{scheduleController.event.allDay}" />  

                                        <p:commandButton type="reset" value="Reset" />  
                                        <p:commandButton value="Save" actionListener="#{scheduleController.addEvent}" oncomplete="myschedule.update();eventDialog.hide();"/>  
                                    </h:panelGrid>  
                                </p:dialog>   
                            </p:tab>  




                        </p:tabView>    
                    </p:layoutUnit>

                </p:layout>
            </h:form>
        </h:body>

    </f:view>
</html>
