<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    
    xmlns:p="http://primefaces.org/ui">

     <div id="header-e1">
    <p:graphicImage value="images/logo4.jpg" />
</div>
<div id="header-e3">
    
</div>
<div id="header-e2">
    

                        <p:commandLink id="logout" action="#{loginManager.logout}" style="color:#C30E4A;font-size:14px;margin-right:20px;" ajax="false">  
                            <h:outputText value="Logout" />  
                        </p:commandLink> 
</div>
    
    
    
    
</ui:composition>
