<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"

      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>Nephron DashBoard</title>
                <link href="wel/template-2012/stylesheets/ec.css" media="all" rel="stylesheet" type="text/css"/>
                <h:outputStylesheet library="css" name="wel/template-2012/stylesheets/ec.css"  />
                <link href="stylesheets/esponder.css" media="all" rel="stylesheet" type="text/css"/>
                <h:outputStylesheet library="css" name="stylesheets/esponder.css"  />
            </f:facet>

            <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript" ></script>

        </h:head>

        <h:body>
            <p:ajaxStatus onstart="statusDialog.show();" onsuccess="statusDialog.hide();"/>  

            <p:dialog modal="true" widgetVar="statusDialog" header="Status"   
                      draggable="false" closable="false">  
                <p:graphicImage value="images/ajax-loader.gif" />  
            </p:dialog>

            <h:form id="form"> 
                <f:metadata>  
                    <f:viewParam name="userID" value="#{tableBean.useridforedit}" />  

                </f:metadata>
                <p:layout fullPage="true">

                    <p:layoutUnit position="north" size="80" resizable="true" closable="true" collapsible="true">
                        <ui:include src="header.xhtml"></ui:include>

                    </p:layoutUnit>

                    <p:layoutUnit position="south" size="40" resizable="false"  closable="false" collapsible="false">
                        <div class="layout-footer"> Copyright @2013 Nephron
                        </div>

                    </p:layoutUnit>

                    <p:layoutUnit position="west" size="175" header="Menu" collapsible="true">
                        <ui:include src="menu.xhtml"></ui:include>

                    </p:layoutUnit>

                    <p:layoutUnit position="center">

                        <p:panel id="panel" header="Measurments Filter" style="margin-bottom:10px;">  
                            <p:panelGrid columns="7">
                                <h:outputLabel for="datefrom" value="Date From : " />
                                <p:calendar value="#{chartBean.dateFromM}"  id="datefrom" showOn="button" style="width:270px" pattern="MM/dd/yyyy HH:mm"/>
                                <h:outputLabel for="dateto" value="Date To : " />
                                <p:calendar value="#{chartBean.dateToM}"  id="dateto" showOn="button" style="width:270px" pattern="MM/dd/yyyy HH:mm"/>
                                <h:outputLabel for="typemm" value="Type : " />
                                <p:selectOneMenu id="typemm" value="#{chartBean.number}">  
                                    <f:selectItem itemLabel="Condactivity Dialysate"   itemValue="Condactivity Dialysate" />
                                    <f:selectItem itemLabel="Pressure Bloodline"   itemValue="Pressure Bloodline" />
                                    <f:selectItem itemLabel="Pressure Dialysate"  itemValue="Pressure Dialysate" />
                                    <f:selectItem itemLabel="Temp IN"   itemValue="Temp IN" />
                                    <f:selectItem itemLabel="Temp OUT"   itemValue="Temp OUT" />
                                    <f:selectItem itemLabel="Inlet PH"   itemValue="Inlet PH" />
                                    <f:selectItem itemLabel="Inlet Potasium"   itemValue="Inlet Potasium" />
                                    <f:selectItem itemLabel="Inlet Calcium"   itemValue="Inlet Calcium" />
                                    <f:selectItem itemLabel="Inlet Temp"   itemValue="Inlet Temp" />
                                    <f:selectItem itemLabel="Inlet Uria"   itemValue="Inlet Uria" />
                                    <f:selectItem itemLabel="Outlet PH"   itemValue="Outlet PH" />
                                    <f:selectItem itemLabel="Outlet Potasium"   itemValue="Outlet Potasium" />
                                    <f:selectItem itemLabel="Outlet Calcium"   itemValue="Outlet Calcium" />
                                    <f:selectItem itemLabel="Outlet Temp"   itemValue="Outlet Temp" />
                                    <f:selectItem itemLabel="Outlet Uria"   itemValue="Outlet Uria" />
                                </p:selectOneMenu> 
                                <p:commandButton value="Refresh" update="panel2234567,sensorsTable" id="ajax"  
                                                 actionListener="#{chartBean.UpdateRecords}" styleClass="ui-priority-primary"/>
                            </p:panelGrid>
                        </p:panel>

                        <p:panel id="panel2234567" header="Measurments Data" style="margin-bottom:10px;"> 
                            <p:dataTable var="sensordata" value="#{chartBean.sensors}"  paginator="true" rows="10"  
                                         id="sensorsTable">  






                                <p:column headerText="Date"  id="dsspfname" style="text-align:center">  
                                    #{sensordata.time}  
                                </p:column>  

                                <p:column headerText="Type"  id="dsspfaname" style="text-align:center">  
                                    #{sensordata.typename}  
                                </p:column>  

                                <p:column headerText="Value"  id="dssplname" style="text-align:center">  
                                    #{sensordata.value}  
                                </p:column>  






                            </p:dataTable>  

                        </p:panel> 

                        <h:panelGrid columns="2">  
                            <p:panel header="Export All Data">  
                                <h:commandLink>  
                                    <p:graphicImage value="/images/excel.png" />  
                                    <p:dataExporter type="xls" target="sensorsTable" fileName="sensorsTable" />  
                                </h:commandLink>  

                                <h:commandLink>  
                                    <p:graphicImage value="/images/pdf.png" />  
                                    <p:dataExporter type="pdf" target="sensorsTable" fileName="sensorsTable"/>  
                                </h:commandLink>  

                                <h:commandLink>  
                                    <p:graphicImage value="/images/csv.png" />  
                                    <p:dataExporter type="csv" target="sensorsTable" fileName="sensorsTable" />  
                                </h:commandLink>  

                                <h:commandLink>  
                                    <p:graphicImage value="/images/xml.png" />  
                                    <p:dataExporter type="xml" target="sensorsTable" fileName="sensorsTable" />  
                                </h:commandLink>  
                            </p:panel>  

                            <p:panel header="Export Page Data">  
                                <h:commandLink>  
                                    <p:graphicImage value="/images/excel.png" />  
                                    <p:dataExporter type="xls" target="sensorsTable" fileName="sensorsTable" pageOnly="true"/>  
                                </h:commandLink>  

                                <h:commandLink>  
                                    <p:graphicImage value="/images/pdf.png" />  
                                    <p:dataExporter type="pdf" target="sensorsTable" fileName="sensorsTable" pageOnly="true"/>  
                                </h:commandLink>  

                                <h:commandLink>  
                                    <p:graphicImage value="/images/csv.png" />  
                                    <p:dataExporter type="csv" target="sensorsTable" fileName="sensorsTable" pageOnly="true"/>  
                                </h:commandLink>  

                                <h:commandLink>  
                                    <p:graphicImage value="/images/xml.png" />  
                                    <p:dataExporter type="xml" target="sensorsTable" fileName="sensorsTable" pageOnly="true"/>  
                                </h:commandLink>  
                            </p:panel>  
                        </h:panelGrid>  

                    </p:layoutUnit>

                </p:layout>
            </h:form>
        </h:body>

    </f:view>
</html>
