<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"

      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>Nephron DashBoard</title>
                <link href="wel/template-2012/stylesheets/ec.css" media="all" rel="stylesheet" type="text/css"/>
                <h:outputStylesheet library="css" name="wel/template-2012/stylesheets/ec.css"  />
                <link href="stylesheets/esponder.css" media="all" rel="stylesheet" type="text/css"/>
                <h:outputStylesheet library="css" name="stylesheets/esponder.css"  />
            </f:facet>

            <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript" ></script>

        </h:head>

        <h:body>
            <p:ajaxStatus onstart="statusDialog.show();" onsuccess="statusDialog.hide();"/>  

            <p:dialog modal="true" widgetVar="statusDialog" header="Status"   
                      draggable="false" closable="false">  
                <p:graphicImage value="images/ajax-loader.gif" />  
            </p:dialog>

            <h:form id="form"> 
                <f:metadata>  
                    <f:viewParam name="userID" value="#{tableBean.useridforedit}" />  

                </f:metadata>
                <p:layout fullPage="true">

                    <p:layoutUnit position="north" size="80" resizable="true" closable="true" collapsible="true">
                        <ui:include src="header.xhtml"></ui:include>

                    </p:layoutUnit>

                    <p:layoutUnit position="south" size="40" resizable="false"  closable="false" collapsible="false">
                        <div class="layout-footer"> Copyright @2013 Nephron
                        </div>

                    </p:layoutUnit>

                    <p:layoutUnit position="west" size="175" header="Menu" collapsible="true">
                        <ui:include src="menu.xhtml"></ui:include>

                    </p:layoutUnit>

                    <p:layoutUnit position="center">




                        <p:panelGrid columns="1">  
                            <f:facet name="header">  
                                Medication Schedule Details  
                            </f:facet>  

                            <p:panelGrid columns="4">  
                                <h:outputLabel for="Durationapp1222" value="Medication  : " />  
                                <p:inputText id="Durationapp1222" value="#{scheduleController.msmedication}"  label="Durationapp1222"/>  

                                <h:outputLabel for="Durationapp12333" value="Quantity  (Number) : " />  
                                <p:inputText id="Durationapp12333" value="#{scheduleController.msquantity}"  label="Durationapp12333"/>  

                            </p:panelGrid>

                            <p:panelGrid columns="4">  
                                <h:outputLabel for="Dateapp0" value="From : " />  
                                <p:calendar id="Dateapp0" label="Dateapp0" value="#{scheduleController.msfrom}" pattern="MM/dd/yyyy HH:mm" />  

                                <h:outputLabel for="Dateapp1" value="To : " />  
                                <p:calendar id="Dateapp1" label="Dateapp1" value="#{scheduleController.msto}" pattern="MM/dd/yyyy HH:mm" />  
                            </p:panelGrid>

                            <p:panelGrid columns="4">  
                                <h:outputLabel for="Durationapp1" value="Every  (Number) : " />  
                                <p:inputText id="Durationapp1" value="#{scheduleController.msevery}"  label="Durationapp1"/>  

                                <h:outputLabel for="Durationapp12" value="Recurrence  : " />  
                                <p:inputText id="Durationapp12" value="#{scheduleController.msrecurrence}"  label="Durationapp12"/>  
                            </p:panelGrid>



                            <p:editor id="Descapp" value="#{scheduleController.description}"   width="600"/> 



                            <f:facet name="footer">  




                                <p:commandButton value="Save" actionListener="#{scheduleController.savemedlistener}"   
                                                 ajax="false" /> 

                                <p:button outcome="DashBoard_Patient" value="Close" >  

                                </p:button>
                            </f:facet>  
                        </p:panelGrid>





                    </p:layoutUnit>

                </p:layout>
            </h:form>
        </h:body>

    </f:view>
</html>
