<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    
    xmlns:p="http://primefaces.org/ui">

    <p:menu>  
        
        <p:submenu label="Patient">
            <p:menuitem value="Patient Details" url="DashBoard_Patient.xhtml" />
        </p:submenu>
        
        <p:submenu label="Patient Measurments">
            <p:menuitem value="Measurments" url="Measurments.xhtml" />
            <p:menuitem value="Weight" url="weight.xhtml" />
            <p:menuitem value="Blood Pressure" url="bpressure.xhtml" />
        </p:submenu>
        
        <p:submenu label="WAKD">
            <p:menuitem value="Alerts" action="#{basicApplicationBean.LoadAlertsPage}" />
            <p:menuitem value="Status" url="WAKDStatus.xhtml" />
        </p:submenu>
        
        <p:submenu label="Schedule">
            <p:menuitem value="Arrange Appointment" url="Appointment.xhtml" />
            <p:menuitem value="Medication Schedule" url="MedicationSchedule.xhtml" />
        </p:submenu>
    
    </p:menu>

</ui:composition>