<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditWAKDTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditWAKDLabel_id}" for="id" />
                    <h:inputText id="id" value="#{wAKDController.selected.id}" title="#{bundle.EditWAKDTitle_id}" />
                    <h:outputLabel value="#{bundle.EditWAKDLabel_code}" for="code" />
                    <h:inputText id="code" value="#{wAKDController.selected.code}" title="#{bundle.EditWAKDTitle_code}" required="true" requiredMessage="#{bundle.EditWAKDRequiredMessage_code}"/>
                    <h:outputLabel value="#{bundle.EditWAKDLabel_name}" for="name" />
                    <h:inputText id="name" value="#{wAKDController.selected.name}" title="#{bundle.EditWAKDTitle_name}" required="true" requiredMessage="#{bundle.EditWAKDRequiredMessage_name}"/>
                    <h:outputLabel value="#{bundle.EditWAKDLabel_status}" for="status" />
                    <h:inputText id="status" value="#{wAKDController.selected.status}" title="#{bundle.EditWAKDTitle_status}" />
                    <h:outputLabel value="#{bundle.EditWAKDLabel_quantity}" for="quantity" />
                    <h:inputText id="quantity" value="#{wAKDController.selected.quantity}" title="#{bundle.EditWAKDTitle_quantity}" />
                    <h:outputLabel value="#{bundle.EditWAKDLabel_effectiveDate}" for="effectiveDate" />
                    <h:inputText id="effectiveDate" value="#{wAKDController.selected.effectiveDate}" title="#{bundle.EditWAKDTitle_effectiveDate}" >
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditWAKDLabel_address}" for="address" />
                    <h:inputText id="address" value="#{wAKDController.selected.address}" title="#{bundle.EditWAKDTitle_address}" />
                </h:panelGrid>
                <h:commandLink action="#{wAKDController.update}" value="#{bundle.EditWAKDSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditWAKDViewLink}"/>
                <br />
                <h:commandLink action="#{wAKDController.prepareList}" value="#{bundle.EditWAKDShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditWAKDIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
