<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListWAKDTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListWAKDEmpty}" rendered="#{wAKDController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{wAKDController.items.rowCount > 0}">
                    <h:outputText value="#{wAKDController.pagination.pageFirstItem + 1}..#{wAKDController.pagination.pageLastItem + 1}/#{wAKDController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{wAKDController.previous}" value="#{bundle.Previous} #{wAKDController.pagination.pageSize}" rendered="#{wAKDController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{wAKDController.next}" value="#{bundle.Next} #{wAKDController.pagination.pageSize}" rendered="#{wAKDController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{wAKDController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListWAKDTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListWAKDTitle_code}"/>
                            </f:facet>
                            <h:outputText value="#{item.code}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListWAKDTitle_name}"/>
                            </f:facet>
                            <h:outputText value="#{item.name}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListWAKDTitle_status}"/>
                            </f:facet>
                            <h:outputText value="#{item.status}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListWAKDTitle_quantity}"/>
                            </f:facet>
                            <h:outputText value="#{item.quantity}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListWAKDTitle_effectiveDate}"/>
                            </f:facet>
                            <h:outputText value="#{item.effectiveDate}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListWAKDTitle_address}"/>
                            </f:facet>
                            <h:outputText value="#{item.address}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{wAKDController.prepareView}" value="#{bundle.ListWAKDViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{wAKDController.prepareEdit}" value="#{bundle.ListWAKDEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{wAKDController.destroy}" value="#{bundle.ListWAKDDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{wAKDController.prepareCreate}" value="#{bundle.ListWAKDCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListWAKDIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
