<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewWAKDTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewWAKDLabel_id}"/>
                    <h:outputText value="#{wAKDController.selected.id}" title="#{bundle.ViewWAKDTitle_id}"/>
                    <h:outputText value="#{bundle.ViewWAKDLabel_code}"/>
                    <h:outputText value="#{wAKDController.selected.code}" title="#{bundle.ViewWAKDTitle_code}"/>
                    <h:outputText value="#{bundle.ViewWAKDLabel_name}"/>
                    <h:outputText value="#{wAKDController.selected.name}" title="#{bundle.ViewWAKDTitle_name}"/>
                    <h:outputText value="#{bundle.ViewWAKDLabel_status}"/>
                    <h:outputText value="#{wAKDController.selected.status}" title="#{bundle.ViewWAKDTitle_status}"/>
                    <h:outputText value="#{bundle.ViewWAKDLabel_quantity}"/>
                    <h:outputText value="#{wAKDController.selected.quantity}" title="#{bundle.ViewWAKDTitle_quantity}"/>
                    <h:outputText value="#{bundle.ViewWAKDLabel_effectiveDate}"/>
                    <h:outputText value="#{wAKDController.selected.effectiveDate}" title="#{bundle.ViewWAKDTitle_effectiveDate}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewWAKDLabel_address}"/>
                    <h:outputText value="#{wAKDController.selected.address}" title="#{bundle.ViewWAKDTitle_address}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{wAKDController.destroyAndView}" value="#{bundle.ViewWAKDDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewWAKDEditLink}"/>
                <br />
                <h:commandLink action="#{wAKDController.prepareCreate}" value="#{bundle.ViewWAKDCreateLink}" />
                <br />
                <h:commandLink action="#{wAKDController.prepareList}" value="#{bundle.ViewWAKDShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewWAKDIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
