<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateDoctorTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateDoctorLabel_id}" for="id" />
                    <h:inputText id="id" value="#{doctorController.selected.id}" title="#{bundle.CreateDoctorTitle_id}" />
                    <h:outputLabel value="#{bundle.CreateDoctorLabel_code}" for="code" />
                    <h:inputText id="code" value="#{doctorController.selected.code}" title="#{bundle.CreateDoctorTitle_code}" required="true" requiredMessage="#{bundle.CreateDoctorRequiredMessage_code}"/>
                    <h:outputLabel value="#{bundle.CreateDoctorLabel_name}" for="name" />
                    <h:inputText id="name" value="#{doctorController.selected.name}" title="#{bundle.CreateDoctorTitle_name}" required="true" requiredMessage="#{bundle.CreateDoctorRequiredMessage_name}"/>
                    <h:outputLabel value="#{bundle.CreateDoctorLabel_status}" for="status" />
                    <h:inputText id="status" value="#{doctorController.selected.status}" title="#{bundle.CreateDoctorTitle_status}" />
                    <h:outputLabel value="#{bundle.CreateDoctorLabel_quantity}" for="quantity" />
                    <h:inputText id="quantity" value="#{doctorController.selected.quantity}" title="#{bundle.CreateDoctorTitle_quantity}" />
                    <h:outputLabel value="#{bundle.CreateDoctorLabel_effectiveDate}" for="effectiveDate" />
                    <h:inputText id="effectiveDate" value="#{doctorController.selected.effectiveDate}" title="#{bundle.CreateDoctorTitle_effectiveDate}" >
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.CreateDoctorLabel_address}" for="address" />
                    <h:inputText id="address" value="#{doctorController.selected.address}" title="#{bundle.CreateDoctorTitle_address}" />
                </h:panelGrid>
                <br />
                <h:commandLink action="#{doctorController.create}" value="#{bundle.CreateDoctorSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{doctorController.prepareList}" value="#{bundle.CreateDoctorShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateDoctorIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
