<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditDoctorTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditDoctorLabel_id}" for="id" />
                    <h:inputText id="id" value="#{doctorController.selected.id}" title="#{bundle.EditDoctorTitle_id}" />
                    <h:outputLabel value="#{bundle.EditDoctorLabel_code}" for="code" />
                    <h:inputText id="code" value="#{doctorController.selected.code}" title="#{bundle.EditDoctorTitle_code}" required="true" requiredMessage="#{bundle.EditDoctorRequiredMessage_code}"/>
                    <h:outputLabel value="#{bundle.EditDoctorLabel_name}" for="name" />
                    <h:inputText id="name" value="#{doctorController.selected.name}" title="#{bundle.EditDoctorTitle_name}" required="true" requiredMessage="#{bundle.EditDoctorRequiredMessage_name}"/>
                    <h:outputLabel value="#{bundle.EditDoctorLabel_status}" for="status" />
                    <h:inputText id="status" value="#{doctorController.selected.status}" title="#{bundle.EditDoctorTitle_status}" />
                    <h:outputLabel value="#{bundle.EditDoctorLabel_quantity}" for="quantity" />
                    <h:inputText id="quantity" value="#{doctorController.selected.quantity}" title="#{bundle.EditDoctorTitle_quantity}" />
                    <h:outputLabel value="#{bundle.EditDoctorLabel_effectiveDate}" for="effectiveDate" />
                    <h:inputText id="effectiveDate" value="#{doctorController.selected.effectiveDate}" title="#{bundle.EditDoctorTitle_effectiveDate}" >
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditDoctorLabel_address}" for="address" />
                    <h:inputText id="address" value="#{doctorController.selected.address}" title="#{bundle.EditDoctorTitle_address}" />
                </h:panelGrid>
                <h:commandLink action="#{doctorController.update}" value="#{bundle.EditDoctorSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditDoctorViewLink}"/>
                <br />
                <h:commandLink action="#{doctorController.prepareList}" value="#{bundle.EditDoctorShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditDoctorIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
