<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"

      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>Nephron DashBoard</title>
                <link href="wel/template-2012/stylesheets/ec.css" media="all" rel="stylesheet" type="text/css"/>
                <h:outputStylesheet library="css" name="wel/template-2012/stylesheets/ec.css"  />
                <link href="stylesheets/esponder.css" media="all" rel="stylesheet" type="text/css"/>
                <h:outputStylesheet library="css" name="stylesheets/esponder.css"  />
            </f:facet>
          
            <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript" ></script>

        </h:head>

        <h:body>

            <p:ajaxStatus onstart="statusDialog.show();" onsuccess="statusDialog.hide();"/>  

            <p:dialog modal="true" widgetVar="statusDialog" header="Status"   
                      draggable="false" closable="false">  
                <p:graphicImage value="images/ajax-loader.gif" />  
            </p:dialog>


            <h:form id="form"> 

                <p:layout fullPage="true">

                    <p:layoutUnit position="north" size="80" resizable="true" closable="true" collapsible="true">
                        <ui:include src="header.xhtml"></ui:include>

                    </p:layoutUnit>

                    <p:layoutUnit position="south" size="40" resizable="false"  closable="false" collapsible="false">
                        <div class="layout-footer"> Copyright @2013 Nephron
                        </div>

                    </p:layoutUnit>

                    <p:layoutUnit position="west" size="175" header="Menu" collapsible="true">
                        <ui:include src="menu.xhtml"></ui:include>

                    </p:layoutUnit>

                    <p:layoutUnit position="center" align="center">
                       <p:breadCrumb>
	<p:menuitem value="Home" url="DashBoard.xhtml" />
        <p:menuitem value="Doctors" url="DoctorPage.xhtml" />
        <p:menuitem value="Add New Doctor" url="Add_Doctor.xhtml" />
	
</p:breadCrumb> 
                       <p:panel header="Add Doctor" style="width: 90%">  
                       
                        <p:tabView id="tabView" style="width: 80%">  

                            <p:tab id="tab1" title="Personal Details"> 
                                <h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5"> 



                                    <h:outputText value="Title: " />  
                                    <p:inputText id="field1" value="#{doctorsBean.title}" style="width: 20px">  

                                    </p:inputText> 

                                    <h:outputText value="Name: " />  
                                    <p:inputText id="field12" value="#{doctorsBean.firstName}">  

                                    </p:inputText> 

                                    <h:outputText value="Middle Name: " />  
                                    <p:inputText id="field13" value="#{doctorsBean.middleName}">  

                                    </p:inputText> 

                                    <h:outputText value="Lastname: " />  
                                    <p:inputText id="field14" value="#{doctorsBean.lastName}">  

                                    </p:inputText> 



                                    <h:outputText value="Father Name " />  
                                    <p:inputText id="field16" value="#{doctorsBean.fatherName}">  

                                    </p:inputText> 

                                  

                                </h:panelGrid>
                            </p:tab>
                            <p:tab id="tab2" title="Address details">  
                                <h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5"> 
                                    <h:outputText value="Street " />  
                                    <p:inputText id="field19" value="#{doctorsBean.street}">  

                                    </p:inputText> 

                                    <h:outputText value="Street Number" />  
                                    <p:inputText id="field2" value="#{doctorsBean.streetNo}">  

                                    </p:inputText> 

                                    <h:outputText value="Floor" />  
                                    <p:inputText id="field21" value="#{doctorsBean.floor}">  

                                    </p:inputText> 

                                    <h:outputText value="Postcode" />  
                                    <p:inputText id="field23" value="#{doctorsBean.postCode}">  

                                    </p:inputText> 

                                    <h:outputText value="City" />  
                                    <p:inputText id="field24" value="#{doctorsBean.city}">  

                                    </p:inputText> 

                                    <h:outputText value="Country Code" />  
                                    <p:inputText id="field25" value="#{doctorsBean.code}">  

                                    </p:inputText> 

                                </h:panelGrid>
                            </p:tab>
                            <p:tab id="tab3" title="Contact Details">     
                                <h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5"> 
                                    <h:outputText value="Personal Phone Number" />  
                                    <p:inputText id="field26" value="#{doctorsBean.phone}">  

                                    </p:inputText> 

                                    <h:outputText value="Personal Mobile Number" />  
                                    <p:inputText id="field27" value="#{doctorsBean.mobile}">  

                                    </p:inputText> 

                                    <h:outputText value="Personal Email" />  
                                    <p:inputText id="field28" value="#{doctorsBean.email}">  

                                    </p:inputText> 

                                    <h:outputText value="Work Mobile Number" />  
                                    <p:inputText id="field29" value="#{doctorsBean.companyMobile}">  

                                    </p:inputText> 

                                    <h:outputText value="Work Phone Number" />  
                                    <p:inputText id="field211" value="#{doctorsBean.companyPhone}">  

                                    </p:inputText> 

                                    <h:outputText value="Work Email" />  
                                    <p:inputText id="field222" value="#{doctorsBean.companyEmail}">  

                                    </p:inputText> 

                                </h:panelGrid>
                            </p:tab>

                        </p:tabView> 


                        <p:commandButton id="savedoctoradd" value="Save" 
                                         action="#{doctorsBean.saveadddoctor}"
                                         type="submit"
                                         >



                        </p:commandButton>

<p:commandButton id="canceleditdoctor" value="Cancel" 
                                                 action="#{doctorsBean.canceldoctor}"
                                                 type="submit"
                                                 >



                                </p:commandButton>

</p:panel>

                    </p:layoutUnit>

                </p:layout>
            </h:form>
        </h:body>

    </f:view>
</html>


<!--
                           <h:outputText value="Marital Status " />  
                           <p:inputText id="field17" value="#{doctorsBean.maritalStatus}">  

                           </p:inputText> 

                           <h:outputText value="Edicational Level " />  
                           <p:inputText id="field18" value="#{doctorsBean.educationalLevel}">  

                           </p:inputText> -->