<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"

      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>Nephron DashBoard</title>
                <link href="wel/template-2012/stylesheets/ec.css" media="all" rel="stylesheet" type="text/css"/>
                <h:outputStylesheet library="css" name="wel/template-2012/stylesheets/ec.css"  />
                <link href="stylesheets/esponder.css" media="all" rel="stylesheet" type="text/css"/>
                <h:outputStylesheet library="css" name="stylesheets/esponder.css"  />
            </f:facet>
           
            <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript" ></script>

        </h:head>

        <h:body>

            <p:ajaxStatus onstart="statusDialog.show();" onsuccess="statusDialog.hide();"/>  

            <p:dialog modal="true" widgetVar="statusDialog" header="Status"   
                      draggable="false" closable="false">  
                <p:graphicImage value="images/ajax-loader.gif" />  
            </p:dialog>


            <h:form id="form"> 

                <p:layout fullPage="true">

                    <p:layoutUnit position="north" size="80" resizable="true" closable="true" collapsible="true">
                        <ui:include src="header.xhtml"></ui:include>

                    </p:layoutUnit>

                    <p:layoutUnit position="south" size="40" resizable="false"  closable="false" collapsible="false">
                        <div class="layout-footer"> Copyright @2013 Nephron
                        </div>

                    </p:layoutUnit>

                    <p:layoutUnit position="west" size="175" header="Menu" collapsible="true">
                        <ui:include src="menu.xhtml"></ui:include>

                    </p:layoutUnit>

                    <p:layoutUnit position="center" align="center">
      <p:breadCrumb>
	<p:menuitem value="Home" url="DashBoard.xhtml" />
        <p:menuitem value="Doctors" url="DoctorPage.xhtml" />
        <p:menuitem value="Doctors Credentials" url="Credentials.xhtml" />
	
</p:breadCrumb> 
<p:panel header="Doctor Credentials" style="width: 50%"> 
                        <h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5"> 

                    

                            <h:outputText value="Username: " />  
                            <p:inputText id="dname" value="#{doctorsBean.username}">  

                            </p:inputText> 

                            <h:outputText value="Password: " />  
                            <p:inputText id="dserialimei" value="#{doctorsBean.password}">  

                            </p:inputText> 

                            

                            <f:facet name="footer">  
                                <p:commandButton id="savedevice" value="Save" 
                                                 action="#{doctorsBean.savecreadddoctor}"
                                                 type="submit"
                                                 >



                                </p:commandButton>
                                 <p:commandButton id="canceleditdoctor" value="Cancel" 
                                                 action="#{doctorsBean.canceldoctor}"
                                                 type="submit"
                                                 >



                                </p:commandButton>
                            </f:facet>

                        </h:panelGrid>

</p:panel> 

                    </p:layoutUnit>

                </p:layout>
            </h:form>
        </h:body>

    </f:view>
</html>
