<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"

      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>Nephron DashBoard</title>
                <link href="wel/template-2012/stylesheets/ec.css" media="all" rel="stylesheet" type="text/css"/>
                <h:outputStylesheet library="css" name="wel/template-2012/stylesheets/ec.css"  />
                <link href="stylesheets/esponder.css" media="all" rel="stylesheet" type="text/css"/>
                <h:outputStylesheet library="css" name="stylesheets/esponder.css"  />
            </f:facet>
           
            <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript" ></script>

        </h:head>

        <h:body>

            <p:ajaxStatus onstart="statusDialog.show();" onsuccess="statusDialog.hide();"/>  

            <p:dialog modal="true" widgetVar="statusDialog" header="Status"   
                      draggable="false" closable="false">  
                <p:graphicImage value="images/ajax-loader.gif" />  
            </p:dialog>


            <h:form id="form"> 

                <p:layout fullPage="true">

                    <p:layoutUnit position="north" size="80" resizable="true" closable="true" collapsible="true">
                        <ui:include src="header.xhtml"></ui:include>

                    </p:layoutUnit>

                    <p:layoutUnit position="south" size="40" resizable="false"  closable="false" collapsible="false">
                        <div class="layout-footer"> Copyright @2013 Nephron
                        </div>

                    </p:layoutUnit>

                    <p:layoutUnit position="west" size="175" header="Menu" collapsible="true">
                        <ui:include src="menu.xhtml"></ui:include>

                    </p:layoutUnit>

                    <p:layoutUnit position="center" align="center">
      <p:breadCrumb>
	<p:menuitem value="Home" url="DashBoard.xhtml" />
        <p:menuitem value="Equipments" url="Equipments.xhtml" />
        
	
</p:breadCrumb> 
                        
                        <p:selectOneMenu value="#{devicesBean.numberfilter}" >  
            <f:selectItem itemLabel="Device Filter" itemValue="" />  
            <f:selectItem itemLabel="WAKD" itemValue="1" />  
            <f:selectItem itemLabel="Smartphone" itemValue="2" />  
             <f:ajax event="change"  action="#{devicesBean.clearAndReload}" update="devicesTable" />
        </p:selectOneMenu>  
                        
                        <p:dataTable var="devices" value="#{devicesBean.pList}"  paginator="true" rows="10"  
                                     id="devicesTable"
                                     rowKey="#{devices.dID}"  
                                     selection="#{devicesBean.selectedDevice}" selectionMode="single"
                                     >  



                            <f:facet name="header">  
                                Equipments
                            </f:facet>  

                            <p:column headerText="ID" id="did" style="text-align:center">  
                                #{devices.dID}  
                            </p:column>  

                            <p:column headerText="Name" id="dfname" style="text-align:center">  
                                #{devices.szName}  
                            </p:column>  

                            <p:column headerText="Serial/IMEI" id="dmiddlename" style="text-align:center">  
                                #{devices.serial}  
                            </p:column>  

                            <p:column headerText="Type" id="dlname" style="text-align:center">  
                                #{devices.szCode}  
                            </p:column>  



                            <p:column headerText="Actions" style="width: 180px">  

                                <p:commandButton id="editdevice" value="Edit" 
                                               action="#{devicesBean.editdevice}"
                                               type="submit"
                                               >



                                </p:commandButton>
                                
                                 <p:commandButton id="deletedevice" value="Delete" 
                                               action="#{devicesBean.deletedevice}"
                                               type="submit"
                                               >



                                </p:commandButton>
    
                            </p:column>  



                        </p:dataTable>  

                        <p:commandButton id="adddevice" value="Add New Device" 
                                       action="#{devicesBean.adddevice}"
                                       type="submit"
                                       >



                        </p:commandButton>

                    </p:layoutUnit>

                </p:layout>
            </h:form>
        </h:body>

    </f:view>
</html>
