<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"

      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>Nephron DashBoard</title>
                <link href="wel/template-2012/stylesheets/ec.css" media="all" rel="stylesheet" type="text/css"/>
                <h:outputStylesheet library="css" name="wel/template-2012/stylesheets/ec.css"  />
                <link href="stylesheets/esponder.css" media="all" rel="stylesheet" type="text/css"/>
                <h:outputStylesheet library="css" name="stylesheets/esponder.css"  />
            </f:facet>
            
            <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript" ></script>



        </h:head>

        <h:body>

            <p:ajaxStatus onstart="statusDialog.show();" onsuccess="statusDialog.hide();"/>  

            <p:dialog modal="true" widgetVar="statusDialog" header="Status"   
                      draggable="false" closable="false">  
                <p:graphicImage value="images/ajax-loader.gif" />  
            </p:dialog>


            <h:form id="form"> 
                <f:metadata>  
                    <f:viewParam name="doctorID" value="#{doctorsBean.doctoridforedit}" />  

                </f:metadata>
                <p:layout fullPage="true">

                    <p:layoutUnit position="north" size="80" resizable="true" closable="true" collapsible="true">
                        <ui:include src="header.xhtml"></ui:include>

                    </p:layoutUnit>

                    <p:layoutUnit position="south" size="40" resizable="false"  closable="false" collapsible="false">
                        <div class="layout-footer"> Copyright @2013 Nephron
                        </div>

                    </p:layoutUnit>

                    <p:layoutUnit position="west" size="175" header="Menu" collapsible="true">
                        <ui:include src="menu.xhtml"></ui:include>

                    </p:layoutUnit>

                    <p:layoutUnit position="center" align="center">

                       <p:breadCrumb>
	<p:menuitem value="Home" url="DashBoard.xhtml" />
        <p:menuitem value="Patients" url="PatientPage.xhtml" />
        
	
</p:breadCrumb> 
                        <p:dataTable var="pdoctors" value="#{patientsBean.pList}"  paginator="true" rows="10"  
                                     id="pdoctorsTable"
                                     rowKey="#{pdoctors.id}"  
                                     selection="#{patientsBean.selectedDoctor}" selectionMode="single"
                                     >  



                            <f:facet name="header">  
                                Patients  
                            </f:facet>  

                            <p:column headerText="ID" id="did" style="text-align:center">  
                                #{pdoctors.id}  
                            </p:column>  

                            <p:column headerText="First Name" id="dfname" style="text-align:center">  
                                #{pdoctors.firstName}  
                            </p:column>  

                            <p:column headerText="Middle Name" id="dmiddlename" style="text-align:center">  
                                #{pdoctors.middleName}  
                            </p:column>  

                            <p:column headerText="Last Name" id="dlname" style="text-align:center">  
                                #{pdoctors.lastName}  
                            </p:column>  



                            <p:column headerText="Actions" style="width: 280px">  
                                
                                    <p:commandButton id="editpatient" value="Edit" 
                                                   action="#{patientsBean.editdoctor}"
                                                   type="submit"
                                                   >

                                        <f:param name="doctorID" value="#{pdoctors.id}" />

                                    </p:commandButton>

<p:commandButton id="editppdoctor" value="Delete" 
                                                   action="#{patientsBean.deletedoctor}"
                                                   type="submit"
                                                   >

                                        <f:param name="doctorID" value="#{doctors.id}" />

                                    </p:commandButton>

                                    <p:commandButton id="credoctor" value="Credentials" 
                                                   action="#{patientsBean.editcredoctor}"
                                                   type="submit"
                                                   >

                                        <f:param name="doctorID" value="#{doctors.id}" />

                                    </p:commandButton>
                                    
                                    
                                    
                                
                            </p:column>  



                        </p:dataTable>  
 <p:commandButton id="addpatient" value="Add New Patient" 
                                       action="#{patientsBean.adddoctor}"
                                       type="submit"
                                       >



                        </p:commandButton>

                      
                    </p:layoutUnit>

                </p:layout>
            </h:form>
        </h:body>

    </f:view>
</html>
