<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>Nephron+ Patient Interface</title>
                <link href="wel/template-2012/stylesheets/ec.css" media="all" rel="stylesheet" type="text/css"/>
                <h:outputStylesheet library="css" name="wel/template-2012/stylesheets/ec.css"  />
                <link href="stylesheets/esponder.css" media="all" rel="stylesheet" type="text/css"/>
                <h:outputStylesheet library="css" name="stylesheets/esponder.css"  />
            </f:facet>
        </h:head>

        <h:body >
            <h:form id="form22"> 

                <!--Ajax Status Dialog-->

                <p:ajaxStatus onstart="statusDialog.show();" onsuccess="statusDialog.hide();"/>  
                <p:dialog modal="true" widgetVar="statusDialog" header="Status"   
                          draggable="false" closable="false">  
                    <p:graphicImage value="images/ajax-loader.gif" />  
                </p:dialog>


                <!--Popup with messages-->
                <p:growl showDetail="true" sticky="true"/>

                <!--Top Menu Bar-->
                <p:menubar>
                    <p:submenu label="Patient">
                        <p:menuitem value="Details" styleClass="open" onclick="info.show();"></p:menuitem>
                        <p:menuitem value="Logout" styleClass="open" url="index.xhtml" ></p:menuitem>
                    </p:submenu>

                    <p:submenu label="WAKD">
                        <p:menuitem value="WAKD Status" styleClass="open" onclick="dlgwakds.show();"></p:menuitem>
                        <p:menuitem value="WAKD Control" styleClass="open" onclick="dlgwakdc.show();"></p:menuitem>
                    </p:submenu>

                    <p:submenu label="History">
                        <p:menuitem value="Alarms" styleClass="open" onclick="dlgalerts.show();" ></p:menuitem>
                        <p:menuitem value="Appointments" styleClass="open" onclick="dlgapp.show();" ></p:menuitem>


                    </p:submenu>
                </p:menubar>

                <!--Measurements Dialog and Chart Dialog-->
                <h:form id="form2233"> 
                    <p:dialog id="dlg11" header="Measurments" draggable="true" widgetVar="info" showEffect="fade" hideEffect="fade"  >
                        <p:panelGrid columns="3">
                            <h:outputText value="Chart Type: " />
                            <p:selectOneMenu value="#{chartBean.number}">  
                                <f:selectItem itemLabel="Condactivity Dialysate"   itemValue="Condactivity Dialysate" />
                                <f:selectItem itemLabel="Pressure Bloodline"   itemValue="Pressure Bloodline" />
                                <f:selectItem itemLabel="Pressure Dialysate"  itemValue="Pressure Dialysate" />
                                <f:selectItem itemLabel="Temp IN"   itemValue="Temp IN" />
                                <f:selectItem itemLabel="Temp OUT"   itemValue="Temp OUT" />
                                <f:selectItem itemLabel="Inlet PH"   itemValue="Inlet PH" />
                                <f:selectItem itemLabel="Inlet Potasium"   itemValue="Inlet Potasium" />
                                <f:selectItem itemLabel="Inlet Calcium"   itemValue="Inlet Calcium" />
                                <f:selectItem itemLabel="Inlet Temp"   itemValue="Inlet Temp" />
                                <f:selectItem itemLabel="Inlet Uria"   itemValue="Inlet Uria" />
                                <f:selectItem itemLabel="Outlet PH"   itemValue="Outlet PH" />
                                <f:selectItem itemLabel="Outlet Potasium"   itemValue="Outlet Potasium" />
                                <f:selectItem itemLabel="Outlet Calcium"   itemValue="Outlet Calcium" />
                                <f:selectItem itemLabel="Outlet Temp"   itemValue="Outlet Temp" />
                                <f:selectItem itemLabel="Outlet Uria"   itemValue="Outlet Uria" />
                            </p:selectOneMenu> 
                            <p:commandButton value="Show"  update="contents,dlg112" actionListener="#{chartBean.showhide}"
                                             oncomplete="chart.show()" />
                        </p:panelGrid>   
                    </p:dialog>
                    <p:dialog id="dlg112" header="Chart" draggable="true" widgetVar="chart" showEffect="fade" hideEffect="fade"  >
                        <p:panel id="contents"  style="width:880px;height:850px;text-align:center"  header="measurments"> 
                            <p:lineChart id="horizontal" value="#{chartBean.categoryModel}" legendPosition="se" style="height:380px;width:800px"  
                                         title="#{chartBean.number} Daily" zoom="true" />    
                            <p:lineChart id="horizontal2" value="#{chartBean.categoryModelweekly}" legendPosition="se" style="height:380px;width:800px"  
                                         title="#{chartBean.number} Weekly" zoom="true" />    
                        </p:panel>   
                    </p:dialog>
                </h:form> 

                <!--WAKD Status-->
                <p:dialog id="dlgwakds" header="WAKD Status" draggable="true" widgetVar="dlgwakds" showEffect="fade" hideEffect="fade" >
                    <p:panelGrid columns="2">  
                        <f:facet name="header">  
                            WAKD Status  
                        </f:facet>  
                        <h:outputLabel  value="Outcome Status : " />  
                        <h:outputLabel  value="#{wakdstatusbean.outcomestatus}" label="OutcomeStatus" />  
                        <h:outputLabel  value="Battery Status : " />  
                        <h:outputLabel  value="#{wakdstatusbean.batterystatus}"  label="BatteryStatus"/>  
                        <h:outputLabel  value="Current Status : " />  
                        <h:outputLabel  value="#{wakdstatusbean.currentstatus}"  label="CurrentStatus"/>  
                        <h:outputLabel  value="Operation Status : " />  
                        <h:outputLabel  value="#{wakdstatusbean.opstatus}" />  
                        <h:outputLabel  value="Temperature : " />  
                        <h:outputLabel  value="#{wakdstatusbean.temperature}"  label="Temperature"/>  
                        <h:outputLabel  value="Weight Scale Battery Status : " />  
                        <h:outputLabel  value="#{wakdstatusbean.scalebattery}"  label="WeightScaleBatteryStatus"/>  
                    </p:panelGrid>
                </p:dialog>

                <!--WAKD Control-->
                <p:dialog id="dlgwakdc" header="WAKD Control" draggable="true" widgetVar="dlgwakdc" showEffect="fade" hideEffect="fade" >
                    <p:panelGrid columns="2">  
                        <f:facet name="header">  
                            WAKD Control
                        </f:facet>  
                        <h:outputLabel  value="Current Status : " />  
                        <h:outputLabel  value="#{wakdstatusbean.currentstatus}"  label="CurrentStatus"/>  
                        <h:outputLabel  value="Operation Status : " />  
                        <h:outputLabel  value="#{wakdstatusbean.opstatus}" />  
                        <f:facet name="footer">  
                            <p:commandButton value="Shutdown WAKD" action="#{wakdstatusbean.shutdownwakd}"   
                                             type="submit" /> 
                            <p:commandButton value="Maintenance Mode" action="#{wakdstatusbean.shutdownwakd}"   
                                             type="submit" /> 
                            <p:commandButton value="No Dialysation" action="#{wakdstatusbean.shutdownwakd}"   
                                             type="submit" /> 
                        </f:facet>                             
                    </p:panelGrid>
                </p:dialog>

                <!--Schedule-->
                <p:growl id="messages" showDetail="true" />  
                <p:dialog id="dlgsc" header="Schedule" draggable="true" widgetVar="dlgsc" showEffect="fade" hideEffect="fade" >
                    <p:schedule value="#{scheduleController.eventModel}" widgetVar="myscheduless" style="width:480px;height:480px;text-align:center">  
                        <p:ajax event="dateSelect" listener="#{scheduleController.onDateSelect}" update="eventDetails" oncomplete="eventDialog.show()" />  
                        <p:ajax event="eventSelect" listener="#{scheduleController.onEventSelect}" update="eventDetails" oncomplete="eventDialog.show()" />  
                        <p:ajax event="eventMove" listener="#{scheduleController.onEventMove}" update="messages" />  
                        <p:ajax event="eventResize" listener="#{scheduleController.onEventResize}" update="messages" />  
                    </p:schedule>  
                </p:dialog>
                <p:dialog widgetVar="eventDialog" header="Event Details" showEffect="clip" hideEffect="clip">  
                    <h:panelGrid id="eventDetails" columns="2">  
                        <h:outputLabel for="title" value="Title:" />  
                        <p:inputText id="title" value="#{scheduleController.event.title}" required="true"/>  
                        <h:outputLabel for="from" value="From:" />  
                        <p:inputMask id="from" value="#{scheduleController.event.startDate}" mask="99/99/9999">  
                            <f:convertDateTime pattern="dd/MM/yyyy" />  
                        </p:inputMask>  
                        <h:outputLabel for="to" value="To:" />  
                        <p:inputMask id="to" value="#{scheduleController.event.endDate}" mask="99/99/9999">  
                            <f:convertDateTime pattern="dd/MM/yyyy" />  
                        </p:inputMask>  
                        <h:outputLabel for="allDay" value="All Day:" />  
                        <h:selectBooleanCheckbox id="allDay" value="#{scheduleController.event.allDay}" />  
                        <p:commandButton type="reset" value="Reset" />  
                        <p:commandButton value="Save" actionListener="#{scheduleController.addEvent}" oncomplete="myscheduless.update();eventDialog.hide();"/>  
                    </h:panelGrid>  
                </p:dialog>  

                <!--Questionaire-->

                <p:dialog id="dlgq" header="Questionnaire" draggable="true" widgetVar="dlgq" showEffect="fade" hideEffect="fade" >

                    <p:panelGrid columns="2">  
                        <f:facet name="header">  
                            Questionnaire
                        </f:facet>  
                        <h:outputLabel  value="Did you feel any dizziness during your last hemodialysis session ?  " />  
                        <h:form>
                            <p:selectOneMenu value="#{questmanager.s1}" id="s1s1">  
                                <f:selectItem itemLabel="Select One" itemValue="0" />  
                                <f:selectItem itemLabel="Yes" itemValue="true" />  
                                <f:selectItem itemLabel="No" itemValue="false" />  
                                <p:ajax process="s1s1" listener="#{questmanager.selectMenuListener}" event="change"   />
                            </p:selectOneMenu> 
                        </h:form>
                        <h:outputLabel  value="Did you feel any nausea during your last hemodialysis session ?" />  

                        <h:form>
                            <p:selectOneMenu value="#{questmanager.s2}" id="s2s2">  
                                <f:selectItem itemLabel="Select One" itemValue="0" />  
                                <f:selectItem itemLabel="Yes" itemValue="true" />  
                                <f:selectItem itemLabel="No" itemValue="false" />  
                                <p:ajax process="s2s2" listener="#{questmanager.selectMenuListener}" event="change"   />
                            </p:selectOneMenu> 
                        </h:form>
                        <h:outputLabel  value="Did you feel any headeaches during your last hemodialysis session ?" />  
                        <h:form>
                            <p:selectOneMenu value="#{questmanager.s3}" id="s3s3">  
                                <f:selectItem itemLabel="Select One" itemValue="0" />  
                                <f:selectItem itemLabel="Yes" itemValue="true" />  
                                <f:selectItem itemLabel="No" itemValue="false" />  
                                <p:ajax process="s3s3" listener="#{questmanager.selectMenuListener}" event="change"   />
                            </p:selectOneMenu> 
                        </h:form>

                        <h:outputLabel  value="Did you feel any muscle cramps during your last hemodialysis session ?" />  
                        <h:form>
                            <p:selectOneMenu value="#{questmanager.s4}" id="s4s4">  
                                <f:selectItem itemLabel="Select One" itemValue="0" />  
                                <f:selectItem itemLabel="Yes" itemValue="true" />  
                                <f:selectItem itemLabel="No" itemValue="false" />  
                                <p:ajax process="s4s4" listener="#{questmanager.selectMenuListener}" event="change"   />
                            </p:selectOneMenu> 
                        </h:form>
                        <f:facet name="footer">  


                            <p:commandButton value="Save" type="submit"  action="#{questmanager.save2}"
                                             />

                        </f:facet>                             
                    </p:panelGrid>

                </p:dialog>

                <!--Appointments-->
                <p:dialog id="dlgapp" header="Appointments" draggable="true" widgetVar="dlgapp" showEffect="fade" hideEffect="fade" >
                    <p:schedule value="#{scheduleController.eventModel}" widgetVar="myschedulea" style="width:480px;height:480px;text-align:center">  
                        <p:ajax event="dateSelect" listener="#{scheduleController.onDateSelect}" update="eventDetailsapp" oncomplete="eventDialogapp.show()" />  
                        <p:ajax event="eventSelect" listener="#{scheduleController.onEventSelect}" update="eventDetailsapp" oncomplete="eventDialogapp.show()" />  
                        <p:ajax event="eventMove" listener="#{scheduleController.onEventMove}"  />  
                        <p:ajax event="eventResize" listener="#{scheduleController.onEventResize}"  />  
                    </p:schedule>  
                </p:dialog>
                <p:dialog widgetVar="eventDialogapp" header="Event Details" showEffect="clip" hideEffect="clip">  
                    <h:panelGrid id="eventDetailsapp" columns="2">  
                        <h:outputLabel for="title2" value="Title:" />  
                        <p:inputText id="title2" value="#{scheduleController.event.title}" required="true"/>  
                        <h:outputLabel for="from2" value="From:" />  
                        <p:inputMask id="from2" value="#{scheduleController.event.startDate}" mask="99/99/9999">  
                            <f:convertDateTime pattern="dd/MM/yyyy" />  
                        </p:inputMask>  
                        <h:outputLabel for="to2" value="To:" />  
                        <p:inputMask id="to2" value="#{scheduleController.event.endDate}" mask="99/99/9999">  
                            <f:convertDateTime pattern="dd/MM/yyyy" />  
                        </p:inputMask>  
                        <h:outputLabel for="allDay2" value="All Day:" />  
                        <h:selectBooleanCheckbox id="allDay2" value="#{scheduleController.event.allDay}" />  
                        <p:commandButton type="reset" value="Reset" />  
                        <p:commandButton value="Save" actionListener="#{scheduleController.addEvent}" oncomplete="myschedulea.update();eventDialogapp.hide();"/>  
                    </h:panelGrid>  
                </p:dialog>  

                <!--Meals-->
                <p:dialog id="dlgappm" header="Meals" draggable="true" widgetVar="dlgappm" showEffect="fade" hideEffect="fade" >
                    <p:schedule value="#{scheduleController.eventModel}" widgetVar="myschedule" style="width:480px;height:480px;text-align:center">  
                        <p:ajax event="dateSelect" listener="#{scheduleController.onDateSelect}" update="eventDetailsappm" oncomplete="eventDialogappm.show()" />  
                        <p:ajax event="eventSelect" listener="#{scheduleController.onEventSelect}" update="eventDetailsappm" oncomplete="eventDialogappm.show()" />  
                        <p:ajax event="eventMove" listener="#{scheduleController.onEventMove}"  />  
                        <p:ajax event="eventResize" listener="#{scheduleController.onEventResize}"  />  
                    </p:schedule>  
                </p:dialog>
                <p:dialog widgetVar="eventDialogappm" header="Event Details" showEffect="clip" hideEffect="clip">  
                    <h:panelGrid id="eventDetailsappm" columns="2">  
                        <h:outputLabel for="title2m" value="Title:" />  
                        <p:inputText id="title2m" value="#{scheduleController.event.title}" required="true"/>  
                        <h:outputLabel for="from2m" value="From:" />  
                        <p:inputMask id="from2m" value="#{scheduleController.event.startDate}" mask="99/99/9999">  
                            <f:convertDateTime pattern="dd/MM/yyyy" />  
                        </p:inputMask>  
                        <h:outputLabel for="to2m" value="To:" />  
                        <p:inputMask id="to2m" value="#{scheduleController.event.endDate}" mask="99/99/9999">  
                            <f:convertDateTime pattern="dd/MM/yyyy" />  
                        </p:inputMask>  
                        <h:outputLabel for="allDay2m" value="All Day:" />  
                        <h:selectBooleanCheckbox id="allDay2m" value="#{scheduleController.event.allDay}" />  
                        <p:commandButton type="reset" value="Reset" />  
                        <p:commandButton value="Save" actionListener="#{scheduleController.addEvent}" oncomplete="myschedule.update();eventDialogappm.hide();"/>  
                    </h:panelGrid> 
                </p:dialog>  

                <!--Alerts-->
                <p:dialog id="dlgalerts" header="Alerts" draggable="true" widgetVar="dlgalerts" showEffect="fade" hideEffect="fade" >
                    <p:panel id="cdddddontents"  style="width:520px;height:420px;text-align:center"  header="Alerts"> 
                        <p:dataTable id="tbl" var="alerts" value="#{beanalarm.alertslist}" paginator="true" rows="10" style="width:480px;height:390px;text-align:center">  
                            <p:column>  
                                <f:facet name="header">  
                                    <h:outputText value="Severity" />  
                                </f:facet>  
                                <h:outputText value="#{alerts.severity}" />  
                            </p:column>  
                            <p:column>  
                                <f:facet name="header">  
                                    <h:outputText value="Alarm" />  
                                </f:facet>  
                                <h:outputText value="#{alerts.message}"/>  
                            </p:column>  
                            <p:column>  
                                <f:facet name="header">  
                                    <h:outputText value="Date" />  
                                </f:facet>  
                                <h:outputText value="#{alerts.dDate}"/>  
                            </p:column>  
                        </p:dataTable>  
                    </p:panel>
                </p:dialog>


                <!--Dock-->
                <p:dock>
                    <p:menuitem value="Measurments" icon="/images/macosx/finder.png" styleClass="open" onclick="info.show();" />
                    <p:menuitem value="WAKD Status" icon="/images/macosx/safari.png"  styleClass="open" onclick="dlgwakds.show();"  />
                    <p:menuitem value="WAKD Control" icon="/images/macosx/itunes.png" styleClass="open" onclick="dlgwakdc.show();"/>
                    <p:menuitem value="Schedule" icon="/images/macosx/ichat.png" styleClass="open" onclick="dlgsc.show();"/>
                    <p:menuitem value="Questionaires" icon="/images/macosx/trash.png" styleClass="open" onclick="dlgq.show();"/>
                    <p:menuitem value="Alarms" icon="/images/2/alarms.jpg" styleClass="open" onclick="dlgalerts.show();" />
                </p:dock>

                <!--Right Stack-->
                <p:stack icon="/images/stack/stack.png">
                    <p:menuitem value="Weight" icon="/images/2/scale.jpg" url="#" />
                    <p:menuitem value="BloodPressure" icon="/images/2/bloodpressure.jpg" url="#" />
                    <p:menuitem value="ECG" icon="/images/2/ecg.jpg" url="#" />
                </p:stack>

            </h:form>
        </h:body>
    </f:view>
</html>

