<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>Nephron Login</title>
                <link href="wel/template-2012/stylesheets/ec.css" media="all" rel="stylesheet" type="text/css"/>
                <h:outputStylesheet library="css" name="wel/template-2012/stylesheets/ec.css"  />
                <link href="stylesheets/esponder.css" media="all" rel="stylesheet" type="text/css"/>
                <h:outputStylesheet library="css" name="stylesheets/esponder.css"  />
            </f:facet>
           
        </h:head>

        <h:body >

            <p:ajaxStatus onstart="statusDialog.show();" onsuccess="statusDialog.hide();"/>  

            <p:dialog modal="true" widgetVar="statusDialog" header="Status"   
                      draggable="false" closable="false">  
                <p:graphicImage value="images/ajax-loader.gif" />  
            </p:dialog>

            <h:form id="form"> 

                <!--Top Menu Bar-->
                <p:menubar>
                    <p:submenu label="Login">
                        <p:menuitem value="Login" styleClass="open" onclick="info.show();"></p:menuitem>
                    </p:submenu>
                </p:menubar>
                <!--Measurements Dialog and Chart Dialog-->
                <h:form id="form2233"> 
                    <p:dialog id="dlg1331" header="Login" draggable="true" widgetVar="info" showEffect="fade" hideEffect="fade"  >
                            <p:messages id="messages" showDetail="true" autoUpdate="true"/>
                            
                            <h:panelGroup id="viewArea" layout="block">

                                <p:panelGrid columns="2" cellpadding="5">


        <p:outputLabel for="username" value="Username:" />
        <p:inputText  value="#{loginManager.username}" 
                                                 id="username"  label="username" />

                                    <p:outputLabel for="password" value="Password:" />
                                    <p:password  value="#{loginManager.password}" 
                                                 id="password"  label="password" />

                                    <f:facet name="footer">

                                        <p:commandButton id="loginButton" value="Login" 
                                                         outcome="DashBoard"
                                                         action="#{loginManager.login}" 
                                                         type="submit"
oncomplete="info.hide()"
                                                         >

                                        </p:commandButton>




                                    </f:facet>
                                </p:panelGrid>

                            </h:panelGroup>

                    </p:dialog>

                </h:form> 








                       
            </h:form>
        </h:body>

    </f:view>
</html>

