<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreatePersonalInfoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreatePersonalInfoLabel_id}" for="id" />
                    <h:inputText id="id" value="#{personalInfoController.selected.id}" title="#{bundle.CreatePersonalInfoTitle_id}" />
                    <h:outputLabel value="#{bundle.CreatePersonalInfoLabel_title}" for="title" />
                    <h:inputText id="title" value="#{personalInfoController.selected.title}" title="#{bundle.CreatePersonalInfoTitle_title}" />
                    <h:outputLabel value="#{bundle.CreatePersonalInfoLabel_firstName}" for="firstName" />
                    <h:inputText id="firstName" value="#{personalInfoController.selected.firstName}" title="#{bundle.CreatePersonalInfoTitle_firstName}" />
                    <h:outputLabel value="#{bundle.CreatePersonalInfoLabel_middleName}" for="middleName" />
                    <h:inputText id="middleName" value="#{personalInfoController.selected.middleName}" title="#{bundle.CreatePersonalInfoTitle_middleName}" />
                    <h:outputLabel value="#{bundle.CreatePersonalInfoLabel_lastName}" for="lastName" />
                    <h:inputText id="lastName" value="#{personalInfoController.selected.lastName}" title="#{bundle.CreatePersonalInfoTitle_lastName}" />
                    <h:outputLabel value="#{bundle.CreatePersonalInfoLabel_fatherName}" for="fatherName" />
                    <h:inputText id="fatherName" value="#{personalInfoController.selected.fatherName}" title="#{bundle.CreatePersonalInfoTitle_fatherName}" />
                    <h:outputLabel value="#{bundle.CreatePersonalInfoLabel_maritalStatus}" for="maritalStatus" />
                    <h:inputText id="maritalStatus" value="#{personalInfoController.selected.maritalStatus}" title="#{bundle.CreatePersonalInfoTitle_maritalStatus}" />
                    <h:outputLabel value="#{bundle.CreatePersonalInfoLabel_educationalLevel}" for="educationalLevel" />
                    <h:inputText id="educationalLevel" value="#{personalInfoController.selected.educationalLevel}" title="#{bundle.CreatePersonalInfoTitle_educationalLevel}" />
                </h:panelGrid>
                <br />
                <h:commandLink action="#{personalInfoController.create}" value="#{bundle.CreatePersonalInfoSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{personalInfoController.prepareList}" value="#{bundle.CreatePersonalInfoShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreatePersonalInfoIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
