<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditPersonalInfoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditPersonalInfoLabel_id}" for="id" />
                    <h:inputText id="id" value="#{personalInfoController.selected.id}" title="#{bundle.EditPersonalInfoTitle_id}" />
                    <h:outputLabel value="#{bundle.EditPersonalInfoLabel_title}" for="title" />
                    <h:inputText id="title" value="#{personalInfoController.selected.title}" title="#{bundle.EditPersonalInfoTitle_title}" />
                    <h:outputLabel value="#{bundle.EditPersonalInfoLabel_firstName}" for="firstName" />
                    <h:inputText id="firstName" value="#{personalInfoController.selected.firstName}" title="#{bundle.EditPersonalInfoTitle_firstName}" />
                    <h:outputLabel value="#{bundle.EditPersonalInfoLabel_middleName}" for="middleName" />
                    <h:inputText id="middleName" value="#{personalInfoController.selected.middleName}" title="#{bundle.EditPersonalInfoTitle_middleName}" />
                    <h:outputLabel value="#{bundle.EditPersonalInfoLabel_lastName}" for="lastName" />
                    <h:inputText id="lastName" value="#{personalInfoController.selected.lastName}" title="#{bundle.EditPersonalInfoTitle_lastName}" />
                    <h:outputLabel value="#{bundle.EditPersonalInfoLabel_fatherName}" for="fatherName" />
                    <h:inputText id="fatherName" value="#{personalInfoController.selected.fatherName}" title="#{bundle.EditPersonalInfoTitle_fatherName}" />
                    <h:outputLabel value="#{bundle.EditPersonalInfoLabel_maritalStatus}" for="maritalStatus" />
                    <h:inputText id="maritalStatus" value="#{personalInfoController.selected.maritalStatus}" title="#{bundle.EditPersonalInfoTitle_maritalStatus}" />
                    <h:outputLabel value="#{bundle.EditPersonalInfoLabel_educationalLevel}" for="educationalLevel" />
                    <h:inputText id="educationalLevel" value="#{personalInfoController.selected.educationalLevel}" title="#{bundle.EditPersonalInfoTitle_educationalLevel}" />
                </h:panelGrid>
                <h:commandLink action="#{personalInfoController.update}" value="#{bundle.EditPersonalInfoSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditPersonalInfoViewLink}"/>
                <br />
                <h:commandLink action="#{personalInfoController.prepareList}" value="#{bundle.EditPersonalInfoShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditPersonalInfoIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
