<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListPersonalInfoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListPersonalInfoEmpty}" rendered="#{personalInfoController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{personalInfoController.items.rowCount > 0}">
                    <h:outputText value="#{personalInfoController.pagination.pageFirstItem + 1}..#{personalInfoController.pagination.pageLastItem + 1}/#{personalInfoController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{personalInfoController.previous}" value="#{bundle.Previous} #{personalInfoController.pagination.pageSize}" rendered="#{personalInfoController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{personalInfoController.next}" value="#{bundle.Next} #{personalInfoController.pagination.pageSize}" rendered="#{personalInfoController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{personalInfoController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPersonalInfoTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPersonalInfoTitle_title}"/>
                            </f:facet>
                            <h:outputText value="#{item.title}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPersonalInfoTitle_firstName}"/>
                            </f:facet>
                            <h:outputText value="#{item.firstName}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPersonalInfoTitle_middleName}"/>
                            </f:facet>
                            <h:outputText value="#{item.middleName}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPersonalInfoTitle_lastName}"/>
                            </f:facet>
                            <h:outputText value="#{item.lastName}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPersonalInfoTitle_fatherName}"/>
                            </f:facet>
                            <h:outputText value="#{item.fatherName}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPersonalInfoTitle_maritalStatus}"/>
                            </f:facet>
                            <h:outputText value="#{item.maritalStatus}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPersonalInfoTitle_educationalLevel}"/>
                            </f:facet>
                            <h:outputText value="#{item.educationalLevel}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{personalInfoController.prepareView}" value="#{bundle.ListPersonalInfoViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{personalInfoController.prepareEdit}" value="#{bundle.ListPersonalInfoEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{personalInfoController.destroy}" value="#{bundle.ListPersonalInfoDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{personalInfoController.prepareCreate}" value="#{bundle.ListPersonalInfoCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListPersonalInfoIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
