<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewPersonalInfoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewPersonalInfoLabel_id}"/>
                    <h:outputText value="#{personalInfoController.selected.id}" title="#{bundle.ViewPersonalInfoTitle_id}"/>
                    <h:outputText value="#{bundle.ViewPersonalInfoLabel_title}"/>
                    <h:outputText value="#{personalInfoController.selected.title}" title="#{bundle.ViewPersonalInfoTitle_title}"/>
                    <h:outputText value="#{bundle.ViewPersonalInfoLabel_firstName}"/>
                    <h:outputText value="#{personalInfoController.selected.firstName}" title="#{bundle.ViewPersonalInfoTitle_firstName}"/>
                    <h:outputText value="#{bundle.ViewPersonalInfoLabel_middleName}"/>
                    <h:outputText value="#{personalInfoController.selected.middleName}" title="#{bundle.ViewPersonalInfoTitle_middleName}"/>
                    <h:outputText value="#{bundle.ViewPersonalInfoLabel_lastName}"/>
                    <h:outputText value="#{personalInfoController.selected.lastName}" title="#{bundle.ViewPersonalInfoTitle_lastName}"/>
                    <h:outputText value="#{bundle.ViewPersonalInfoLabel_fatherName}"/>
                    <h:outputText value="#{personalInfoController.selected.fatherName}" title="#{bundle.ViewPersonalInfoTitle_fatherName}"/>
                    <h:outputText value="#{bundle.ViewPersonalInfoLabel_maritalStatus}"/>
                    <h:outputText value="#{personalInfoController.selected.maritalStatus}" title="#{bundle.ViewPersonalInfoTitle_maritalStatus}"/>
                    <h:outputText value="#{bundle.ViewPersonalInfoLabel_educationalLevel}"/>
                    <h:outputText value="#{personalInfoController.selected.educationalLevel}" title="#{bundle.ViewPersonalInfoTitle_educationalLevel}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{personalInfoController.destroyAndView}" value="#{bundle.ViewPersonalInfoDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewPersonalInfoEditLink}"/>
                <br />
                <h:commandLink action="#{personalInfoController.prepareCreate}" value="#{bundle.ViewPersonalInfoCreateLink}" />
                <br />
                <h:commandLink action="#{personalInfoController.prepareList}" value="#{bundle.ViewPersonalInfoShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewPersonalInfoIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
